# Pandas

> Pandas, Numpy üzerine inşa edilmiştir, bu nedenle Numpy hakkında öğrendiklerimiz genel olarak pandas için de geçerli olacaktır.

In [2]:
import numpy as np
import pandas as pd

## 1) Pandas Basics

### Reading csv Files

In [ ]:
# download the data from https://insights.stackoverflow.com/survey

In [4]:
df = pd.read_csv("data/survey_results_public.csv")

In [5]:
# this df is about what the columns of the survey_results_public mean

schema_df = pd.read_csv("data/survey_results_schema.csv")

### Looking Up First and Last Rows of the Dataframe

> You can think dataframe as rows and columns of data

### head()

In [6]:
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [5]:
df.head(3)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0

In [7]:
df.head(10)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
5,6,"I am not primarily a developer, but I write co...","Student, full-time",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
6,7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
7,8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,9,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",On the job training;Coding Bootcamp,NaN,NaN,6,...,15-30 minutes a day,Over 120 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,49056.0
9,10,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,37,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

### tail()

In [8]:
df.tail()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [9]:
df.tail(3)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [10]:
df.tail(10)

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
73258,73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5,...,15-30 minutes a day,15-30 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
73259,73260,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Other (please specify):,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,6,...,15-30 minutes a day,Less than 15 minutes a day,Somewhat short,DevOps function;Continuous integration (CI) an...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
73260,73261,I am a developer by profession,"Employed, full-time;Student, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc)",NaN,NaN,8,...,15-30 minutes a day,30-60 minutes a day,Very long,DevOps function;Developer portal or other cent...,No,No,Yes,Appropriate in length,Easy,NaN
73261,73262,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Programming Game...,Udemy;Codecademy;Pluralsight,9,...,15-30 minutes a day,15-30 minutes a day,Somewhat long,Innersource initiative;DevOps function;Microse...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
73262,73263,I am learning to code,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [11]:
schema_df.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR

In [12]:
# (rows, columns)
df.shape

(73268, 79)

In [13]:
schema_df.shape

(79, 6)

### Info

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 79 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ResponseId                      73268 non-null  int64
 1   MainBranch                      73268 non-null  object
 2   Employment                      71709 non-null  object
 3   RemoteWork                      58958 non-null  object
 4   CodingActivities                58899 non-null  object
 5   EdLevel                         71571 non-null  object
 6   LearnCode                       71580 non-null  object
 7   LearnCodeOnline                 50685 non-null  object
 8   LearnCodeCoursesCert            29389 non-null  object
 9   YearsCode                       71331 non-null  object
 10  YearsCodePro                    51833 non-null  object
 11  DevType                         61302 non-null  object
 12  OrgSize                         51039 non-null  object
 13  PurchaseInfluence               50969 non-null  object
 14  BuyNewTool                      67963 non-null  object
 15  Country                         71771 non-null  object
 16  Currency                        51264 non-null  object
 17  CompTotal                       38422 non-null  float64
 18  CompFreq                        44425 non-null  object
 19  LanguageHaveWorkedWith          70975 non-null  object
 20  LanguageWantToWorkWith          67027 non-null  object
 21  DatabaseHaveWorkedWith          60121 non-null  object
 22  DatabaseWantToWorkWith          51014 non-null  object
 23  PlatformHaveWorkedWith          49924 non-null  object
 24  PlatformWantToWorkWith          40415 non-null  object
 25  WebframeHaveWorkedWith          53544 non-null  object
 26  WebframeWantToWorkWith          46122 non-null  object
 27  MiscTechHaveWorkedWith          44992 non-null  object
 28  MiscTechWantToWorkWith          36810 non-null  object
 29  ToolsTechHaveWorkedWith         54171 non-null  object
 30  ToolsTechWantToWorkWith         46566 non-null  object
 31  NEWCollabToolsHaveWorkedWith    70347 non-null  object
 32  NEWCollabToolsWantToWorkWith    64108 non-null  object
 33  OpSysProfessional use           65503 non-null  object
 34  OpSysPersonal use               70963 non-null  object
 35  VersionControlSystem            71379 non-null  object
 36  VCInteraction                   68156 non-null  object
 37  VCHostingPersonal use           0 non-null      float64
 38  VCHostingProfessional use       0 non-null      float64
 39  OfficeStackAsyncHaveWorkedWith  46223 non-null  object
 40  OfficeStackAsyncWantToWorkWith  32072 non-null  object
 41  OfficeStackSyncHaveWorkedWith   62128 non-null  object
 42  OfficeStackSyncWantToWorkWith   47688 non-null  object
 43  Blockchain                      71071 non-null  object
 44  NEWSOSites                      71365 non-null  object
 45  SOVisitFreq                     70961 non-null  object
 46  SOAccount                       71572 non-null  object
 47  SOPartFreq                      58229 non-null  object
 48  SOComm                          71408 non-null  object
 49  Age                             70946 non-null  object
 50  Gender                          70853 non-null  object
 51  Trans                           70315 non-null  object
 52  Sexuality                       66565 non-null  object
 53  Ethnicity                       69474 non-null  object
 54  Accessibility                   67244 non-null  object
 55  MentalHealth                    66447 non-null  object
 56  TBranch                         52670 non-null  object
 57  ICorPM                          36283 non-null  object
 58  WorkExp                         36769 non-null  float64
 59  Knowledge_1                     35804 non-null  object
 60  Knowledge_2                     34973 non-null  object
 61  Knowledge_3                     35133 non-null  object
 62  Knowledge_4                     35097 non-null  object
 63  Knowledge_5                     35014 non-null  object
 64  Knowledge_6                     34991 non-null  object
 65  Knowledge_7                     34977 non-null  object
 66  Frequency_1                     35371 non-null  object
 67  Frequency_2                     35344 non-null  object
 68  Frequency_3                     34515 non-null  object
 69  TimeSearching                   36198 non-null  object
 70  TimeAnswering                   36022 non-null  object
 71  Onboarding                      35679 non-null  object
 72  ProfessionalTech                34906 non-null  object
 73  TrueFalse_1                     35819 non-null  object
 74  TrueFalse_2                     35715 non-null  object
 75  TrueFalse_3                     35749 non-null  object
 76  SurveyLength                    70444 non-null  object
 77  SurveyEase                      70508 non-null  object
 78  ConvertedCompYearly             38071 non-null  float64
dtypes: float64(5), int64(1), object(73)
memory usage: 44.2+ MB

### Viewing All Columns/Rows in a Dataframe

In [15]:
pd.set_option("display.max_columns", df.shape[1])

In [16]:
pd.set_option("display.max_rows", df.shape[0])

In [17]:
pd.set_option("display.max_rows", df.shape[0])

In [18]:
pd.set_option("display.max_rows", 85)

In [19]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
6,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
7,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
8,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
9,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
10,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
11,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
17,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
18,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
20,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
21,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
22,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
23,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
24,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
25,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
26,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
27,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
28,QID275,ToolsTech,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
29,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
30,QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
31,QID283,VersionControlSystem,What are the primary <b>version control system...,False,MC,MAVR
32,QID284,VCInteraction,How do you interact with your version control ...,False,MC,MAVR
33,QID285,VCHosting,What version control hosting service are you u...,False,Matrix,Likert
34,QID282,OfficeStackAsync,Which <b>collaborative work management tools</...,False,Matrix,Likert
35,QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
36,QID305,Blockchain,"How favorable are you about blockchain, crypto...",False,MC,SAVR
37,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
39,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
40,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
41,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
42,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
43,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
44,QID127,Age,What is your age?,False,MC,MAVR
45,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
46,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
47,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
48,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
49,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
50,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
51,QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
52,QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
53,QID287,ICorPM,Are you an independent contributor or people m...,False,MC,SAVR
54,QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
55,QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
56,QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
57,QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
58,QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
59,QID293,Onboarding,The time it takes to onboard new hires at my c...,False,MC,SAVR
60,QID304,ProfessionalTech,My company has:,False,MC,MAVR
61,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
62,QID294,TrueFalse,Last few questions...,False,Matrix,Likert
63,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
64,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
65,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
66,QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
67,QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
68,QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
69,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
71,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
72,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
73,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [20]:
pd.set_option("display.max_rows", 85)

In [21]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
6,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
7,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
8,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
9,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
10,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
11,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
17,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
18,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
20,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
21,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
22,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
23,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
24,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
25,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
26,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
27,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
28,QID275,ToolsTech,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
29,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
30,QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
31,QID283,VersionControlSystem,What are the primary <b>version control system...,False,MC,MAVR
32,QID284,VCInteraction,How do you interact with your version control ...,False,MC,MAVR
33,QID285,VCHosting,What version control hosting service are you u...,False,Matrix,Likert
34,QID282,OfficeStackAsync,Which <b>collaborative work management tools</...,False,Matrix,Likert
35,QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
36,QID305,Blockchain,"How favorable are you about blockchain, crypto...",False,MC,SAVR
37,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
39,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
40,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
41,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
42,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
43,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
44,QID127,Age,What is your age?,False,MC,MAVR
45,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
46,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
47,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
48,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
49,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
50,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
51,QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
52,QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
53,QID287,ICorPM,Are you an independent contributor or people m...,False,MC,SAVR
54,QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
55,QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
56,QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
57,QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
58,QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
59,QID293,Onboarding,The time it takes to onboard new hires at my c...,False,MC,SAVR
60,QID304,ProfessionalTech,My company has:,False,MC,MAVR
61,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
62,QID294,TrueFalse,Last few questions...,False,Matrix,Likert
63,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
64,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
65,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
66,QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
67,QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
68,QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
69,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
71,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
72,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
73,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [22]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
6,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
7,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
8,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
9,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
10,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
11,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
17,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
18,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
20,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
21,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
22,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
23,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
24,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
25,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
26,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
27,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
28,QID275,ToolsTech,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
29,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
30,QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
31,QID283,VersionControlSystem,What are the primary <b>version control system...,False,MC,MAVR
32,QID284,VCInteraction,How do you interact with your version control ...,False,MC,MAVR
33,QID285,VCHosting,What version control hosting service are you u...,False,Matrix,Likert
34,QID282,OfficeStackAsync,Which <b>collaborative work management tools</...,False,Matrix,Likert
35,QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
36,QID305,Blockchain,"How favorable are you about blockchain, crypto...",False,MC,SAVR
37,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
39,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
40,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
41,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
42,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
43,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
44,QID127,Age,What is your age?,False,MC,MAVR
45,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
46,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
47,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
48,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
49,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
50,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
51,QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
52,QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
53,QID287,ICorPM,Are you an independent contributor or people m...,False,MC,SAVR
54,QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
55,QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
56,QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
57,QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
58,QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
59,QID293,Onboarding,The time it takes to onboard new hires at my c...,False,MC,SAVR
60,QID304,ProfessionalTech,My company has:,False,MC,MAVR
61,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
62,QID294,TrueFalse,Last few questions...,False,Matrix,Likert
63,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
64,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
65,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
66,QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
67,QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
68,QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
69,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
71,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
72,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
73,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

## 2) Dataframe - Series

In [23]:
df = pd.read_csv("data/survey_results_public.csv")
schema_df = pd.read_csv("data/survey_results_schema.csv")

In [24]:
# each row is a different participant
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

>Dataframe is like a dictionary that has a list as its values

In [25]:
people = {
    "name": ["Finley", "Andrew", "Blake"],
    "last_name": ["Brown", "Bradley", "Hughes"],
    "age": [23,21,34]
         
}

In [26]:
people

{'name': ['Finley', 'Andrew', 'Blake'],
 'last_name': ['Brown', 'Bradley', 'Hughes'],
 'age': [23, 21, 34]}

In [27]:
type(people)

dict

>You can think keys as columns and values as rows

In [28]:
# Lets say we want to access age column, we can do it like

people["age"]

[23, 21, 34]

### Creating Dataframe from Dictionary

In [29]:
df = pd.DataFrame(people)

In [30]:
df

     name last_name  age
0  Finley     Brown   23
1  Andrew   Bradley   21
2   Blake    Hughes   34

In [31]:
type(df)

pandas.core.frame.DataFrame

### Accessing Column of Dataframe

In [32]:
people = {
    "name": ["Finley", "Andrew", "Blake"],
    "last_name": ["Brown", "Bradley", "Hughes"],
    "age": [23,21,34]
}

In [33]:
people

{'name': ['Finley', 'Andrew', 'Blake'],
 'last_name': ['Brown', 'Bradley', 'Hughes'],
 'age': [23, 21, 34]}

In [34]:
people["last_name"]

['Brown', 'Bradley', 'Hughes']

In [35]:
df

     name last_name  age
0  Finley     Brown   23
1  Andrew   Bradley   21
2   Blake    Hughes   34

In [36]:
df["last_name"]

0      Brown
1    Bradley
2     Hughes
Name: last_name, dtype: object

In [37]:
type(df["last_name"])

pandas.core.series.Series

In [38]:
# If there is some method as the same name as .(column_name) it will give it an error so I reccomend you to use the first way
df.last_name

0      Brown
1    Bradley
2     Hughes
Name: last_name, dtype: object

In [39]:
type(df["last_name"])

pandas.core.series.Series

- You can think dataframes as rows and columns

- and you can think Series as rows of a single column (or columns of single row)

- Dataframe is a container for lots of Series Object !

### Accessing Multiple Columns

In [40]:
df

     name last_name  age
0  Finley     Brown   23
1  Andrew   Bradley   21
2   Blake    Hughes   34

In [41]:
df["name"]

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [42]:
df[["name", "last_name"]]

     name last_name
0  Finley     Brown
1  Andrew   Bradley
2   Blake    Hughes

In [43]:
df[["last_name", "name"]]

  last_name    name
0     Brown  Finley
1   Bradley  Andrew
2    Hughes   Blake

In [44]:
type(df[["name", "last_name"]])

pandas.core.frame.DataFrame

In [45]:
df["name"]

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [46]:
type(df[["name", "last_name"]])

pandas.core.frame.DataFrame

In [47]:
type(df["name"])

pandas.core.series.Series

### Accessing Columns' Name

In [48]:
df.columns

Index(['name', 'last_name', 'age'], dtype='object')

In [49]:
people.keys()

dict_keys(['name', 'last_name', 'age'])

### Accessing Rows of Dataframe

### iloc

>Satırlara tamsayı konumlarına göre erişmemizi sağlar

In [50]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Brown', 'Bradley', 'Hughes'],
    'age': [23, 21, 34],
    "student_number":[101, 403, 202]
    

}

In [51]:
df = pd.DataFrame(students)

In [52]:
df.shape

(3, 4)

In [53]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew   Bradley   21             403
2   Blake    Hughes   34             202

In [54]:
df.columns

Index(['name', 'last_name', 'age', 'student_number'], dtype='object')

In [55]:
df = df.set_index("student_number")

In [56]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [57]:
df.columns

Index(['name', 'last_name', 'age'], dtype='object')

In [58]:
# Accessing the first row
# It will return a Series that it's indexes are the columns' name
# So when we access a column, its indexes will be like 0,1,2, but when we are accessing rows,its indexes are going to be columns' name

df.iloc[0]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

In [59]:
type(df.iloc[0])

pandas.core.series.Series

In [60]:
df.iloc[0]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

In [61]:
df.iloc[0][0]

'Finley'

In [62]:
df.iloc[0]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

In [64]:
df.iloc[0]["name"]

'Finley'

In [65]:
df.iloc[0][["name", "age"]]

name    Finley
age         23
Name: 101, dtype: object

In [66]:
type(df.iloc[0][["name", "age"]])

pandas.core.series.Series

In [67]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [68]:
# fancy indexing
df.iloc[[0,2]]

                  name last_name  age
student_number
101             Finley     Brown   23
202              Blake    Hughes   34

In [69]:
# fancy indexing
df.iloc[[2,0]]

                  name last_name  age
student_number
202              Blake    Hughes   34
101             Finley     Brown   23

>Selecting rows of specific columns

In [70]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [71]:
df.iloc[[0,1], 2]

student_number
101    23
403    21
Name: age, dtype: int64

In [72]:
type(df.iloc[[0,1], 2])

pandas.core.series.Series

In [73]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [74]:
df.iloc[[0,1], [0,2]]

                  name  age
student_number
101             Finley   23
403             Andrew   21

In [75]:
df.iloc[0, [0,2]]

name    Finley
age         23
Name: 101, dtype: object

In [76]:
type(df.iloc[[0,1], [0,2]])

pandas.core.frame.DataFrame

In [77]:
df.iloc[0:, [0,2]]

                  name  age
student_number
101             Finley   23
403             Andrew   21
202              Blake   34

In [78]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [79]:
# [0,2)
df.iloc[0:2, 0:3]

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21

### loc

>Öğelere dizinlerine (etiketlerine) göre erişir. İndeksler 0,1,2 gibiyse, iloc kullanmakla aynı olabilir

In [80]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [81]:
df.iloc[0]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

In [82]:
df.loc[101]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

In [83]:
students_2 = {
    'name': ['Finley', 'Andrew', 'Blake', 'Merhaba'],
    'last_name': ['Brown', 'Bradley', 'Hughes', 'Nasılsın'],
    'age': [23, 21, 34, 42],
    "student_number":[101, 403, 202,0]
    

}

In [84]:
df2 = pd.DataFrame(students_2)

In [85]:
df2

      name last_name  age  student_number
0   Finley     Brown   23             101
1   Andrew   Bradley   21             403
2    Blake    Hughes   34             202
3  Merhaba  Nasılsın   42               0

In [86]:
df2.iloc[0]

name              Finley
last_name          Brown
age                   23
student_number       101
Name: 0, dtype: object

In [87]:
df2.loc[0]

name              Finley
last_name          Brown
age                   23
student_number       101
Name: 0, dtype: object

In [88]:
df2 = df2.set_index("student_number")

In [89]:
df2

                   name last_name  age
student_number
101              Finley     Brown   23
403              Andrew   Bradley   21
202               Blake    Hughes   34
0               Merhaba  Nasılsın   42

In [90]:
df2.loc[0]

name          Merhaba
last_name    Nasılsın
age                42
Name: 0, dtype: object

In [91]:
df2.iloc[0]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

In [92]:
df2.iloc[3]

name          Merhaba
last_name    Nasılsın
age                42
Name: 0, dtype: object

In [93]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [94]:
df.loc[[101,202]]

                  name last_name  age
student_number
101             Finley     Brown   23
202              Blake    Hughes   34

In [95]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [96]:
df.iloc[[0,1], 0]

student_number
101    Finley
403    Andrew
Name: name, dtype: object

In [97]:
df.loc[[403,101], "name"]

student_number
403    Andrew
101    Finley
Name: name, dtype: object

In [98]:
# unlike iloc, 2 is included [0,2]
df.loc[101:403, "name"]

student_number
101    Finley
403    Andrew
Name: name, dtype: object

In [99]:
# unlike iloc, 2 is included [0,2]
df.loc[101:202, "name"]

student_number
101    Finley
403    Andrew
202     Blake
Name: name, dtype: object

In [100]:
df.loc[[101,202], ["name", "age"]]

                  name  age
student_number
101             Finley   23
202              Blake   34

### iloc-loc exercise

In [101]:
df = pd.read_csv("data/survey_results_public.csv")
schema_df = pd.read_csv("data/survey_results_schema.csv")

In [102]:
df.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [105]:
df.loc[0] # fisrt row of the data

ResponseId                                    1
MainBranch                        None of these
Employment                                  NaN
RemoteWork                                  NaN
CodingActivities                            NaN
EdLevel                                     NaN
LearnCode                                   NaN
LearnCodeOnline                             NaN
LearnCodeCoursesCert                        NaN
YearsCode                                   NaN
YearsCodePro                                NaN
DevType                                     NaN
OrgSize                                     NaN
PurchaseInfluence                           NaN
BuyNewTool                                  NaN
Country                                     NaN
Currency                                    NaN
CompTotal                                   NaN
CompFreq                                    NaN
LanguageHaveWorkedWith                      NaN
LanguageWantToWorkWith                      NaN
DatabaseHaveWorkedWith                      NaN
DatabaseWantToWorkWith                      NaN
PlatformHaveWorkedWith                      NaN
PlatformWantToWorkWith                      NaN
WebframeHaveWorkedWith                      NaN
WebframeWantToWorkWith                      NaN
MiscTechHaveWorkedWith                      NaN
MiscTechWantToWorkWith                      NaN
ToolsTechHaveWorkedWith                     NaN
ToolsTechWantToWorkWith                     NaN
NEWCollabToolsHaveWorkedWith                NaN
NEWCollabToolsWantToWorkWith                NaN
OpSysProfessional use                       NaN
OpSysPersonal use                           NaN
VersionControlSystem                        NaN
VCInteraction                               NaN
VCHostingPersonal use                       NaN
VCHostingProfessional use                   NaN
OfficeStackAsyncHaveWorkedWith              NaN
OfficeStackAsyncWantToWorkWith              NaN
OfficeStackSyncHaveWorkedWith               NaN
OfficeStackSyncWantToWorkWith               NaN
Blockchain                                  NaN
NEWSOSites                                  NaN
SOVisitFreq                                 NaN
SOAccount                                   NaN
SOPartFreq                                  NaN
SOComm                                      NaN
Age                                         NaN
Gender                                      NaN
Trans                                       NaN
Sexuality                                   NaN
Ethnicity                                   NaN
Accessibility                               NaN
MentalHealth                                NaN
TBranch                                     NaN
ICorPM                                      NaN
WorkExp                                     NaN
Knowledge_1                                 NaN
Knowledge_2                                 NaN
Knowledge_3                                 NaN
Knowledge_4                                 NaN
Knowledge_5                                 NaN
Knowledge_6                                 NaN
Knowledge_7                                 NaN
Frequency_1                                 NaN
Frequency_2                                 NaN
Frequency_3                                 NaN
TimeSearching                               NaN
TimeAnswering                               NaN
Onboarding                                  NaN
ProfessionalTech                            NaN
TrueFalse_1                                 NaN
TrueFalse_2                                 NaN
TrueFalse_3                                 NaN
SurveyLength                                NaN
SurveyEase                                  NaN
ConvertedCompYearly                         NaN
Name: 0, dtype: object

In [106]:
df.iloc[0]

ResponseId                                    1
MainBranch                        None of these
Employment                                  NaN
RemoteWork                                  NaN
CodingActivities                            NaN
EdLevel                                     NaN
LearnCode                                   NaN
LearnCodeOnline                             NaN
LearnCodeCoursesCert                        NaN
YearsCode                                   NaN
YearsCodePro                                NaN
DevType                                     NaN
OrgSize                                     NaN
PurchaseInfluence                           NaN
BuyNewTool                                  NaN
Country                                     NaN
Currency                                    NaN
CompTotal                                   NaN
CompFreq                                    NaN
LanguageHaveWorkedWith                      NaN
LanguageWantToWorkWith                      NaN
DatabaseHaveWorkedWith                      NaN
DatabaseWantToWorkWith                      NaN
PlatformHaveWorkedWith                      NaN
PlatformWantToWorkWith                      NaN
WebframeHaveWorkedWith                      NaN
WebframeWantToWorkWith                      NaN
MiscTechHaveWorkedWith                      NaN
MiscTechWantToWorkWith                      NaN
ToolsTechHaveWorkedWith                     NaN
ToolsTechWantToWorkWith                     NaN
NEWCollabToolsHaveWorkedWith                NaN
NEWCollabToolsWantToWorkWith                NaN
OpSysProfessional use                       NaN
OpSysPersonal use                           NaN
VersionControlSystem                        NaN
VCInteraction                               NaN
VCHostingPersonal use                       NaN
VCHostingProfessional use                   NaN
OfficeStackAsyncHaveWorkedWith              NaN
OfficeStackAsyncWantToWorkWith              NaN
OfficeStackSyncHaveWorkedWith               NaN
OfficeStackSyncWantToWorkWith               NaN
Blockchain                                  NaN
NEWSOSites                                  NaN
SOVisitFreq                                 NaN
SOAccount                                   NaN
SOPartFreq                                  NaN
SOComm                                      NaN
Age                                         NaN
Gender                                      NaN
Trans                                       NaN
Sexuality                                   NaN
Ethnicity                                   NaN
Accessibility                               NaN
MentalHealth                                NaN
TBranch                                     NaN
ICorPM                                      NaN
WorkExp                                     NaN
Knowledge_1                                 NaN
Knowledge_2                                 NaN
Knowledge_3                                 NaN
Knowledge_4                                 NaN
Knowledge_5                                 NaN
Knowledge_6                                 NaN
Knowledge_7                                 NaN
Frequency_1                                 NaN
Frequency_2                                 NaN
Frequency_3                                 NaN
TimeSearching                               NaN
TimeAnswering                               NaN
Onboarding                                  NaN
ProfessionalTech                            NaN
TrueFalse_1                                 NaN
TrueFalse_2                                 NaN
TrueFalse_3                                 NaN
SurveyLength                                NaN
SurveyEase                                  NaN
ConvertedCompYearly                         NaN
Name: 0, dtype: object

In [109]:
df.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

## 3) Indexes

In [111]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Brown', 'Bradley', 'Hughes'],
    'age': [23, 21, 34],
    "student_number":[101, 403, 202]
    

}

In [112]:
df = pd.DataFrame(students)

In [113]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew   Bradley   21             403
2   Blake    Hughes   34             202

### Setting Custom Indexes

>As student number is unique to each students, we will use that for index

In [114]:
# It does not change the dataframe
df.set_index("student_number")

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [115]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew   Bradley   21             403
2   Blake    Hughes   34             202

In [117]:

df2 = df.set_index("student_number")

In [118]:
df2

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [119]:
# or
df.set_index("student_number", inplace=True)

In [120]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [121]:
# We can also specify index column when we are reading a csv file
# Like: df = pd.read_csv("data/survey_results_public.csv", index_col="Respondent")

In [122]:
df.loc[403]

name          Andrew
last_name    Bradley
age               21
Name: 403, dtype: object

In [123]:
type(df.loc[403])

pandas.core.series.Series

In [124]:
df.loc[403, "name"]

'Andrew'

In [125]:
df.loc[403, ["name", "last_name"]]

name          Andrew
last_name    Bradley
Name: 403, dtype: object

In [126]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [127]:
# we should do like

df.iloc[0]

name         Finley
last_name     Brown
age              23
Name: 101, dtype: object

### Resetting Indexes

In [128]:
df

                  name last_name  age
student_number
101             Finley     Brown   23
403             Andrew   Bradley   21
202              Blake    Hughes   34

In [129]:
df.reset_index(inplace=True)

In [130]:
df

   student_number    name last_name  age
0             101  Finley     Brown   23
1             403  Andrew   Bradley   21
2             202   Blake    Hughes   34

In [131]:
df["student_number"]

0    101
1    403
2    202
Name: student_number, dtype: int64

### Indexes Example

In [133]:
df = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv")

In [140]:
# ResponseId has unique values for each participants
df.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [135]:
schema_df.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR

In [136]:
df.loc[1]

MainBranch                        None of these
Employment                                  NaN
RemoteWork                                  NaN
CodingActivities                            NaN
EdLevel                                     NaN
LearnCode                                   NaN
LearnCodeOnline                             NaN
LearnCodeCoursesCert                        NaN
YearsCode                                   NaN
YearsCodePro                                NaN
DevType                                     NaN
OrgSize                                     NaN
PurchaseInfluence                           NaN
BuyNewTool                                  NaN
Country                                     NaN
Currency                                    NaN
CompTotal                                   NaN
CompFreq                                    NaN
LanguageHaveWorkedWith                      NaN
LanguageWantToWorkWith                      NaN
DatabaseHaveWorkedWith                      NaN
DatabaseWantToWorkWith                      NaN
PlatformHaveWorkedWith                      NaN
PlatformWantToWorkWith                      NaN
WebframeHaveWorkedWith                      NaN
WebframeWantToWorkWith                      NaN
MiscTechHaveWorkedWith                      NaN
MiscTechWantToWorkWith                      NaN
ToolsTechHaveWorkedWith                     NaN
ToolsTechWantToWorkWith                     NaN
NEWCollabToolsHaveWorkedWith                NaN
NEWCollabToolsWantToWorkWith                NaN
OpSysProfessional use                       NaN
OpSysPersonal use                           NaN
VersionControlSystem                        NaN
VCInteraction                               NaN
VCHostingPersonal use                       NaN
VCHostingProfessional use                   NaN
OfficeStackAsyncHaveWorkedWith              NaN
OfficeStackAsyncWantToWorkWith              NaN
OfficeStackSyncHaveWorkedWith               NaN
OfficeStackSyncWantToWorkWith               NaN
Blockchain                                  NaN
NEWSOSites                                  NaN
SOVisitFreq                                 NaN
SOAccount                                   NaN
SOPartFreq                                  NaN
SOComm                                      NaN
Age                                         NaN
Gender                                      NaN
Trans                                       NaN
Sexuality                                   NaN
Ethnicity                                   NaN
Accessibility                               NaN
MentalHealth                                NaN
TBranch                                     NaN
ICorPM                                      NaN
WorkExp                                     NaN
Knowledge_1                                 NaN
Knowledge_2                                 NaN
Knowledge_3                                 NaN
Knowledge_4                                 NaN
Knowledge_5                                 NaN
Knowledge_6                                 NaN
Knowledge_7                                 NaN
Frequency_1                                 NaN
Frequency_2                                 NaN
Frequency_3                                 NaN
TimeSearching                               NaN
TimeAnswering                               NaN
Onboarding                                  NaN
ProfessionalTech                            NaN
TrueFalse_1                                 NaN
TrueFalse_2                                 NaN
TrueFalse_3                                 NaN
SurveyLength                                NaN
SurveyEase                                  NaN
ConvertedCompYearly                         NaN
Name: 1, dtype: object

In [139]:
schema_df.set_index("Column", inplace=True)

KeyError: "None of ['Column'] are in the columns"

In [138]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
6,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
7,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
8,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
9,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
10,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
11,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
17,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
18,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
20,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
21,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
22,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
23,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
24,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
25,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
26,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
27,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
28,QID275,ToolsTech,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
29,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
30,QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
31,QID283,VersionControlSystem,What are the primary <b>version control system...,False,MC,MAVR
32,QID284,VCInteraction,How do you interact with your version control ...,False,MC,MAVR
33,QID285,VCHosting,What version control hosting service are you u...,False,Matrix,Likert
34,QID282,OfficeStackAsync,Which <b>collaborative work management tools</...,False,Matrix,Likert
35,QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
36,QID305,Blockchain,"How favorable are you about blockchain, crypto...",False,MC,SAVR
37,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
39,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
40,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
41,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
42,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
43,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
44,QID127,Age,What is your age?,False,MC,MAVR
45,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
46,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
47,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
48,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
49,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
50,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
51,QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
52,QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
53,QID287,ICorPM,Are you an independent contributor or people m...,False,MC,SAVR
54,QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
55,QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
56,QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
57,QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
58,QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
59,QID293,Onboarding,The time it takes to onboard new hires at my c...,False,MC,SAVR
60,QID304,ProfessionalTech,My company has:,False,MC,MAVR
61,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
62,QID294,TrueFalse,Last few questions...,False,Matrix,Likert
63,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
64,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
65,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
66,QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
67,QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
68,QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
69,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
71,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
72,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
73,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

### Sorting Indexes

In [143]:
schema_df.head()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR

In [144]:
schema_df.sort_index()

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
6,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
7,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
8,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
9,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
10,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
11,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
17,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
18,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
20,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
21,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
22,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
23,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
24,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
25,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
26,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
27,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
28,QID275,ToolsTech,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
29,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
30,QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
31,QID283,VersionControlSystem,What are the primary <b>version control system...,False,MC,MAVR
32,QID284,VCInteraction,How do you interact with your version control ...,False,MC,MAVR
33,QID285,VCHosting,What version control hosting service are you u...,False,Matrix,Likert
34,QID282,OfficeStackAsync,Which <b>collaborative work management tools</...,False,Matrix,Likert
35,QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
36,QID305,Blockchain,"How favorable are you about blockchain, crypto...",False,MC,SAVR
37,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
39,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
40,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
41,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
42,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
43,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
44,QID127,Age,What is your age?,False,MC,MAVR
45,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
46,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
47,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
48,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
49,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
50,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
51,QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
52,QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
53,QID287,ICorPM,Are you an independent contributor or people m...,False,MC,SAVR
54,QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
55,QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
56,QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
57,QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
58,QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
59,QID293,Onboarding,The time it takes to onboard new hires at my c...,False,MC,SAVR
60,QID304,ProfessionalTech,My company has:,False,MC,MAVR
61,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
62,QID294,TrueFalse,Last few questions...,False,Matrix,Likert
63,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
64,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
65,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
66,QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
67,QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
68,QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
69,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
71,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
72,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
73,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [145]:
schema_df

,qid,qname,question,force_resp,type,selector
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
5,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
6,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
7,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
8,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
9,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
10,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
11,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
16,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
17,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
18,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
20,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
21,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
22,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
23,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
24,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
25,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
26,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
27,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
28,QID275,ToolsTech,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
29,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
30,QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
31,QID283,VersionControlSystem,What are the primary <b>version control system...,False,MC,MAVR
32,QID284,VCInteraction,How do you interact with your version control ...,False,MC,MAVR
33,QID285,VCHosting,What version control hosting service are you u...,False,Matrix,Likert
34,QID282,OfficeStackAsync,Which <b>collaborative work management tools</...,False,Matrix,Likert
35,QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
36,QID305,Blockchain,"How favorable are you about blockchain, crypto...",False,MC,SAVR
37,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
38,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
39,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
40,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
41,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
42,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
43,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
44,QID127,Age,What is your age?,False,MC,MAVR
45,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
46,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
47,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
48,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
49,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
50,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
51,QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
52,QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
53,QID287,ICorPM,Are you an independent contributor or people m...,False,MC,SAVR
54,QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
55,QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
56,QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
57,QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
58,QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
59,QID293,Onboarding,The time it takes to onboard new hires at my c...,False,MC,SAVR
60,QID304,ProfessionalTech,My company has:,False,MC,MAVR
61,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
62,QID294,TrueFalse,Last few questions...,False,Matrix,Likert
63,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
64,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
65,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
66,QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
67,QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
68,QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
69,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
71,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
72,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
73,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

In [146]:
schema_df.sort_index(ascending=False)

,qid,qname,question,force_resp,type,selector
78,QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR
77,QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
76,QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
75,QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
74,QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
73,QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
72,QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
71,QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
70,QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
69,QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
68,QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
67,QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
66,QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
65,QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
64,QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
63,QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
62,QID294,TrueFalse,Last few questions...,False,Matrix,Likert
61,QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
60,QID304,ProfessionalTech,My company has:,False,MC,MAVR
59,QID293,Onboarding,The time it takes to onboard new hires at my c...,False,MC,SAVR
58,QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
57,QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
56,QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
55,QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
54,QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
53,QID287,ICorPM,Are you an independent contributor or people m...,False,MC,SAVR
52,QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
51,QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
50,QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
49,QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
48,QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
47,QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
46,QID153,Trans,Do you identify as transgender?,False,MC,MAVR
45,QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
44,QID127,Age,What is your age?,False,MC,MAVR
43,QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
42,QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
41,QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
40,QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
39,QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
38,QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
37,QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
36,QID305,Blockchain,"How favorable are you about blockchain, crypto...",False,MC,SAVR
35,QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
34,QID282,OfficeStackAsync,Which <b>collaborative work management tools</...,False,Matrix,Likert
33,QID285,VCHosting,What version control hosting service are you u...,False,Matrix,Likert
32,QID284,VCInteraction,How do you interact with your version control ...,False,MC,MAVR
31,QID283,VersionControlSystem,What are the primary <b>version control system...,False,MC,MAVR
30,QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
29,QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
28,QID275,ToolsTech,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
27,QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
26,QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
25,QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
24,QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
23,QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
22,QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
21,QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
20,QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
19,QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
18,QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
17,QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
16,QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
15,QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
14,QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
13,QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
12,QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
11,QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
10,QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
9,QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
8,QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
7,QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
6,QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
5,QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
4,QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
3,QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
2,QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
1,QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
0,QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB

## 4) Filtering

In [147]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Brown', 'Brown', 'Hughes'],
    'age': [23, 21, 34],
    "student_number":[101, 403, 202]
    

}

In [148]:
df = pd.DataFrame(students)

In [149]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [150]:
df["last_name"]

0     Brown
1     Brown
2    Hughes
Name: last_name, dtype: object

In [151]:
# True values mean rows that satisfy this condition
df["last_name"] == "Brown"

0     True
1     True
2    False
Name: last_name, dtype: bool

In [152]:
type(df["last_name"] == "Brown")

pandas.core.series.Series

In [153]:
filt = (df["last_name"] == "Brown")

In [154]:
df[filt]

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403

In [155]:
df.loc[filt]

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403

In [156]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [157]:
df.loc[[0,1,0]]

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
0  Finley     Brown   23             101

In [159]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [160]:
df.loc[[True,True,False]]

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403

In [161]:
df.loc[[True,False,False]]

     name last_name  age  student_number
0  Finley     Brown   23             101

In [162]:
df.loc[[True,False,True]]

     name last_name  age  student_number
0  Finley     Brown   23             101
2   Blake    Hughes   34             202

In [163]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [164]:
df.iloc[[True,True,False], 0]

0    Finley
1    Andrew
Name: name, dtype: object

In [165]:
df.loc[[True,True,False], "name"]

0    Finley
1    Andrew
Name: name, dtype: object

### Filtering with loc Gives us Flexibility

In [166]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [167]:
filt = (df["last_name"] == "Brown")
filt

0     True
1     True
2    False
Name: last_name, dtype: bool

In [168]:
type(filt)

pandas.core.series.Series

In [169]:
df.loc[filt, "name"]

0    Finley
1    Andrew
Name: name, dtype: object

In [170]:
df.loc[filt]

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403

In [171]:
df.loc[filt, "student_number"]

0    101
1    403
Name: student_number, dtype: int64

In [172]:
df.loc[filt, ["student_number", "name"]]

   student_number    name
0             101  Finley
1             403  Andrew

### Filtering with & and |

In [173]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [174]:
filt = (df["last_name"] == "Brown") & (df["name"] == "Andrew")

In [175]:
filt

0    False
1     True
2    False
dtype: bool

In [176]:
df[filt]

     name last_name  age  student_number
1  Andrew     Brown   21             403

In [177]:
df[filt][["student_number", "name"]]

   student_number    name
1             403  Andrew

In [178]:
df[filt][["name", "student_number"]]

     name  student_number
1  Andrew             403

In [179]:
df.loc[filt, ["student_number","name"]]

   student_number    name
1             403  Andrew

In [180]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [181]:
filt = (df["name"] == "Andrew") | (df["last_name"] == "Hughes")

In [182]:
df.loc[filt]

     name last_name  age  student_number
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

###  Opposite Filter

In [183]:
2 != 3

True

In [184]:
filt = ((df["name"] == "Andrew") | (df["last_name"] == "Hughes"))

In [185]:
df.loc[filt]

     name last_name  age  student_number
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [186]:
filt

0    False
1     True
2     True
dtype: bool

In [188]:
~filt

0     True
1    False
2    False
dtype: bool

>So we can do that like

In [189]:
filt = ~( (df["name"] == "Andrew") | (df["last_name"] == "Hughes") )

In [190]:
df.loc[filt]

     name last_name  age  student_number
0  Finley     Brown   23             101

In [191]:
filt = ((df["name"] == "Andrew") | (df["last_name"] == "Hughes"))

In [192]:
df.loc[~filt]

     name last_name  age  student_number
0  Finley     Brown   23             101

### Filter Example

In [196]:
df = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qid")

In [197]:
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [198]:
df.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [203]:
filter_country = ["United States", "India", "United Kingdom", "Germany", "Canada"]

In [204]:
df["Country"].isin(filter_country)

ResponseId
1        False
2         True
3        False
4        False
5        False
         ...
73264    False
73265    False
73266    False
73267    False
73268     True
Name: Country, Length: 73268, dtype: bool

In [206]:
# You can also give regex to that, we will look this at more detail when we learn about regex
?pd.Series.str.contains

Signature:
pd.Series.str.contains(
    self,
    pat,
    case: 'bool' = True,
    flags: 'int' = 0,
    na=None,
    regex: 'bool' = True,
)
Docstring:
Test if pattern or regex is contained within a string of a Series or Index.

Return boolean Series or Index based on whether a given pattern or regex is
contained within a string of a Series or Index.

Parameters
----------
pat : str
    Character sequence or regular expression.
case : bool, default True
    If True, case sensitive.
flags : int, default 0 (no flags)
    Flags to pass through to the re module, e.g. re.IGNORECASE.
na : scalar, optional
    Fill value for missing values. The default depends on dtype of the
    array. For object-dtype, ``numpy.nan`` is used. For ``StringDtype``,
    ``pandas.NA`` is used.
regex : bool, default True
    If True, assumes the pat is a regular expression.

    If False, treats the pat as a literal string.

Returns
-------
Series or Index of boolean values
    A Series or Index of boolean values indicating whether the
    given pattern is contained within the string of each element
    of the Series or Index.

See Also
--------
match : Analogous, but stricter, relying on re.match instead of re.search.
Series.str.startswith : Test if the start of each string element matches a
    pattern.
Series.str.endswith : Same as startswith, but tests the end of string.

Examples
--------
Returning a Series of booleans using only a literal pattern.

>>> s1 = pd.Series(['Mouse', 'dog', 'house and parrot', '23', np.NaN])
>>> s1.str.contains('og', regex=False)
0    False
1     True
2    False
3    False
4      NaN
dtype: object

Returning an Index of booleans using only a literal pattern.

>>> ind = pd.Index(['Mouse', 'dog', 'house and parrot', '23.0', np.NaN])
>>> ind.str.contains('23', regex=False)
Index([False, False, False, True, nan], dtype='object')

Specifying case sensitivity using `case`.

>>> s1.str.contains('oG', case=True, regex=True)
0    False
1    False
2    False
3    False
4      NaN
dtype: object

Specifying `na` to be `False` instead of `NaN` replaces NaN values
with `False`. If Series or Index does not contain NaN values
the resultant dtype will be `bool`, otherwise, an `object` dtype.

>>> s1.str.contains('og', na=False, regex=True)
0    False
1     True
2    False
3    False
4    False
dtype: bool

Returning 'house' or 'dog' when either expression occurs in a string.

>>> s1.str.contains('house|dog', regex=True)
0    False
1     True
2     True
3    False
4      NaN
dtype: object

Ignoring case sensitivity using `flags` with regex.

>>> import re
>>> s1.str.contains('PARROT', flags=re.IGNORECASE, regex=True)
0    False
1    False
2     True
3    False
4      NaN
dtype: object

Returning any digit using regular expression.

>>> s1.str.contains('\\d', regex=True)
0    False
1    False
2    False
3     True
4      NaN
dtype: object

Ensure `pat` is a not a literal pattern when `regex` is set to True.
Note in the following example one might expect only `s2[1]` and `s2[3]` to
return `True`. However, '.0' as a regex matches any character
followed by a 0.

>>> s2 = pd.Series(['40', '40.0', '41', '41.0', '35'])
>>> s2.str.contains('.0', regex=True)
0     True
1     True
2    False
3     True
4    False
dtype: bool
File:      c:\users\w10\appdata\local\programs\python\python311\lib\site-packages\pandas\core\strings\accessor.py
Type:      function

In [208]:
filt

0    False
1     True
2     True
dtype: bool

## 5) Updating Data

In [212]:

df = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qid")

In [213]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Brown', 'Brown', 'Hughes'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}

In [214]:
student_df = pd.DataFrame(students)

In [215]:
student_df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

### Renaming All Columns

In [216]:
 # First way

In [217]:
student_df.columns

Index(['name', 'last_name', 'age', 'student_number'], dtype='object')

In [218]:
student_df.columns = ['first_name', 'last_name', 'age', 'student_number']

In [219]:
student_df

  first_name last_name  age  student_number
0     Finley     Brown   23             101
1     Andrew     Brown   21             403
2      Blake    Hughes   34             202

In [220]:
student_df = pd.DataFrame(students)

In [221]:
student_df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [222]:
student_df.columns = ('first_name', 'last_name', 'age', 'student_number')

In [223]:
student_df

  first_name last_name  age  student_number
0     Finley     Brown   23             101
1     Andrew     Brown   21             403
2      Blake    Hughes   34             202

In [224]:
s = {1,2,3}

In [225]:
for e in s:
    print(e)

1
2
3

In [227]:
s = {'first_name', 'last_name', 'age', 'student_number'}

In [228]:
for e in s:
    print(e)

last_name
age
first_name
student_number

In [229]:
student_df = pd.DataFrame(students)

In [230]:
student_df.columns = {'first_name', 'last_name', 'age', 'student_number'}

In [231]:
student_df

  last_name     age  first_name  student_number
0    Finley   Brown          23             101
1    Andrew   Brown          21             403
2     Blake  Hughes          34             202

In [232]:
student_df = pd.DataFrame(students)

In [233]:
d = {'first_name':"a", 'last_name':2, 'age':"c", 'student_number':100}

In [234]:
for e in d:
    print(e)

first_name
last_name
age
student_number

In [235]:
student_df.columns = {'first_name':"a", 'last_name':2, 'age':"c", 'student_number':100}

In [236]:
student_df

  first_name last_name  age  student_number
0     Finley     Brown   23             101
1     Andrew     Brown   21             403
2      Blake    Hughes   34             202

In [237]:
# Second Way
# Let's say we want to make all column name upper case

In [238]:
def f(x):
    return x**2

In [239]:
l = [1,2,3,4]

In [240]:
[f(e) for e in l]

[1, 4, 9, 16]

In [241]:
student_df.columns

Index(['first_name', 'last_name', 'age', 'student_number'], dtype='object')

In [242]:
[e.upper() for e in student_df.columns]

['FIRST_NAME', 'LAST_NAME', 'AGE', 'STUDENT_NUMBER']

In [243]:
student_df.columns = [e.upper() for e in student_df.columns]

In [244]:
student_df

  FIRST_NAME LAST_NAME  AGE  STUDENT_NUMBER
0     Finley     Brown   23             101
1     Andrew     Brown   21             403
2      Blake    Hughes   34             202

>Changing spaces with underscore

In [245]:
student_df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'AGE', 'STUDENT_NUMBER'], dtype='object')

In [246]:
type(student_df.columns)

pandas.core.indexes.base.Index

In [247]:
a = "merhaba nasılsın"

In [248]:
a.replace(" ", "_")

'merhaba_nasılsın'

In [249]:
type(student_df.columns)

pandas.core.indexes.base.Index

In [250]:
student_df.columns

Index(['FIRST_NAME', 'LAST_NAME', 'AGE', 'STUDENT_NUMBER'], dtype='object')

In [251]:
student_df.columns = student_df.columns.str.replace("_","-")
student_df

  FIRST-NAME LAST-NAME  AGE  STUDENT-NUMBER
0     Finley     Brown   23             101
1     Andrew     Brown   21             403
2      Blake    Hughes   34             202

In [252]:
student_df.columns = [e.lower() for e in student_df.columns]
student_df

  first-name last-name  age  student-number
0     Finley     Brown   23             101
1     Andrew     Brown   21             403
2      Blake    Hughes   34             202

### Renaming Specific Columns

>We will specify which column will have which name with dictionary
{previous value:new value}

In [253]:
new_col = {"first-name":"first", "last-name":"last"}
student_df

  first-name last-name  age  student-number
0     Finley     Brown   23             101
1     Andrew     Brown   21             403
2      Blake    Hughes   34             202

In [254]:
student_df.rename(columns=new_col)

    first    last  age  student-number
0  Finley   Brown   23             101
1  Andrew   Brown   21             403
2   Blake  Hughes   34             202

In [255]:
student_df

  first-name last-name  age  student-number
0     Finley     Brown   23             101
1     Andrew     Brown   21             403
2      Blake    Hughes   34             202

In [256]:
student_df.rename(columns=new_col, inplace=True)
# student_df = student_df.rename(columns=new_col)
student_df

    first    last  age  student-number
0  Finley   Brown   23             101
1  Andrew   Brown   21             403
2   Blake  Hughes   34             202

### Updating a Row

> Updating a single value

In [257]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Duke', 'Walker', 'Hughes'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}
student_df = pd.DataFrame(students)
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake    Hughes   34             202

In [258]:
student_df.iloc[2]

name               Blake
last_name         Hughes
age                   34
student_number       202
Name: 2, dtype: object

In [259]:
student_df.loc[2]

name               Blake
last_name         Hughes
age                   34
student_number       202
Name: 2, dtype: object

In [260]:
# Updating value with a list

In [261]:
student_df.loc[2] = ["Charlie", "Brown", 8, 302]
student_df

      name last_name  age  student_number
0   Finley      Duke   23             101
1   Andrew    Walker   21             403
2  Charlie     Brown    8             302

In [262]:
# Updating just Specific Column(s) of the Row

In [263]:
student_df.loc[2, "name"] = "Blake" 
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake     Brown    8             302

In [264]:
student_df.iloc[2, 0] = "Denis" 
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Denis     Brown    8             302

In [266]:
student_df.loc[2, ["name", "last_name"]] = ["Blake", "Walker"]
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake    Walker    8             302

### Changing Multiple Rows at once

In [267]:
student_df["name"]

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [268]:
student_df["name"].str.lower()

0    finley
1    andrew
2     blake
Name: name, dtype: object

In [269]:
student_df = student_df["name"].str.lower()
student_df

0    finley
1    andrew
2     blake
Name: name, dtype: object

### General Error

In [270]:
student_df

0    finley
1    andrew
2     blake
Name: name, dtype: object

In [273]:
# It did not work
student_df

0    finley
1    andrew
2     blake
Name: name, dtype: object

### Updating Value(s) with Filter

> Use "loc", "iloc" or "at" when setting a value

In [274]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Duke', 'Walker', 'Hughes'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}
student_df = pd.DataFrame(students)
filt = (student_df["age"] > 22)
filt

0     True
1    False
2     True
Name: age, dtype: bool

In [275]:
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake    Hughes   34             202

In [276]:
student_df[filt]

     name last_name  age  student_number
0  Finley      Duke   23             101
2   Blake    Hughes   34             202

In [277]:
student_df.loc[filt, "last_name"] = ["Allen", "Finley"]
student_df

     name last_name  age  student_number
0  Finley     Allen   23             101
1  Andrew    Walker   21             403
2   Blake    Finley   34             202

In [278]:
filt = (student_df["age"] < 22)
filt

0    False
1     True
2    False
Name: age, dtype: bool

In [279]:
# It sets both of them to White
student_df.loc[filt, "last_name"] = "White"
student_df

     name last_name  age  student_number
0  Finley     Allen   23             101
1  Andrew     White   21             403
2   Blake    Finley   34             202

In [280]:
filt = (student_df["age"] > 22)
filt

0     True
1    False
2     True
Name: age, dtype: bool

In [281]:
student_df.loc[filt, "last_name"] = "Ateş"
student_df

     name last_name  age  student_number
0  Finley      Ateş   23             101
1  Andrew     White   21             403
2   Blake      Ateş   34             202

### Apply

>It applies function to dataframe or Series

In [282]:
def square(x):
    return x * x
def f(x):
    return x + 40
def f2(x):
    return x -30
def apply(l, f):
    for i in range(len(l)):
        e = l[i]
        l[i] = f(e)
    
    return l    
l = [1,2,3,4]
apply(l, square)

[1, 4, 9, 16]

In [283]:
l

[1, 4, 9, 16]

In [284]:
apply(l, f)

[41, 44, 49, 56]

### In Series

In [285]:
student_df["name"]

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [286]:
student_df[["name", "age"]]

     name  age
0  Finley   23
1  Andrew   21
2   Blake   34

In [287]:
student_df["name"]

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [288]:
# when applied to Series

student_df["name"].apply(len)

0    6
1    6
2    5
Name: name, dtype: int64

In [289]:
def update_number(n):
    return n + 1000
student_df

     name last_name  age  student_number
0  Finley      Ateş   23             101
1  Andrew     White   21             403
2   Blake      Ateş   34             202

In [290]:
student_df["student_number"]

0    101
1    403
2    202
Name: student_number, dtype: int64

In [291]:
student_df["student_number"].apply(update_number)

0    1101
1    1403
2    1202
Name: student_number, dtype: int64

In [292]:
# Using lambda
student_df["student_number"].apply(lambda x: x + 1000)

0    1101
1    1403
2    1202
Name: student_number, dtype: int64

In [293]:
student_df.loc[2, "student_number"] = "2"
student_df

     name last_name  age student_number
0  Finley      Ateş   23            101
1  Andrew     White   21            403
2   Blake      Ateş   34              2

In [294]:
int("2")

2

In [295]:
student_df["student_number"].apply(lambda x: int(x) + 1000)

0    1101
1    1403
2    1002
Name: student_number, dtype: int64

In [296]:
student_df.loc[2, "student_number"] = 302
student_df

     name last_name  age student_number
0  Finley      Ateş   23            101
1  Andrew     White   21            403
2   Blake      Ateş   34            302

### In DataFrames

In [297]:
student_df

     name last_name  age student_number
0  Finley      Ateş   23            101
1  Andrew     White   21            403
2   Blake      Ateş   34            302

In [298]:
student_df.loc[4, "student_number"] = 502
student_df

     name last_name   age student_number
0  Finley      Ateş  23.0            101
1  Andrew     White  21.0            403
2   Blake      Ateş  34.0            302
4     NaN       NaN   NaN            502

In [299]:
student_df.loc[5, "student_number"] = 503
student_df

     name last_name   age student_number
0  Finley      Ateş  23.0            101
1  Andrew     White  21.0            403
2   Blake      Ateş  34.0            302
4     NaN       NaN   NaN            502
5     NaN       NaN   NaN            503

In [300]:
# It is giving us the lenght of the Series, how many elements are present in each column
student_df.apply(len)

name              5
last_name         5
age               5
student_number    5
dtype: int64

In [301]:
def weird(x):
    return x[0]
student_df.apply(weird)

name              Finley
last_name           Ateş
age                 23.0
student_number       101
dtype: object

In [302]:
student_df.iloc[0]

name              Finley
last_name           Ateş
age                 23.0
student_number       101
Name: 0, dtype: object

In [303]:
student_df["name"]

0    Finley
1    Andrew
2     Blake
4       NaN
5       NaN
Name: name, dtype: object

In [304]:
len(student_df["name"])

5

In [305]:
student_df

     name last_name   age student_number
0  Finley      Ateş  23.0            101
1  Andrew     White  21.0            403
2   Blake      Ateş  34.0            302
4     NaN       NaN   NaN            502
5     NaN       NaN   NaN            503

In [306]:
student_df["name"]

0    Finley
1    Andrew
2     Blake
4       NaN
5       NaN
Name: name, dtype: object

In [307]:
type(student_df["name"])

pandas.core.series.Series

In [308]:
student_df

     name last_name   age student_number
0  Finley      Ateş  23.0            101
1  Andrew     White  21.0            403
2   Blake      Ateş  34.0            302
4     NaN       NaN   NaN            502
5     NaN       NaN   NaN            503

In [309]:
student_df.apply(len, axis="columns")

0    4
1    4
2    4
4    4
5    4
dtype: int64

In [310]:
student_df.apply(len, axis=1)

0    4
1    4
2    4
4    4
5    4
dtype: int64

In [311]:
student_df.apply(len)

name              5
last_name         5
age               5
student_number    5
dtype: int64

In [312]:
student_df.apply(len, axis=0)

name              5
last_name         5
age               5
student_number    5
dtype: int64

In [313]:
def show(x):
    return x[0]
student_df.apply(show, axis="columns")

0    Finley
1    Andrew
2     Blake
4       NaN
5       NaN
dtype: object

In [314]:
student_df.apply(show)

name              Finley
last_name           Ateş
age                 23.0
student_number       101
dtype: object

In [315]:
student_df

     name last_name   age student_number
0  Finley      Ateş  23.0            101
1  Andrew     White  21.0            403
2   Blake      Ateş  34.0            302
4     NaN       NaN   NaN            502
5     NaN       NaN   NaN            503

In [316]:
type(student_df.loc[:,["age","student_number"]])

pandas.core.frame.DataFrame

In [317]:
student_df["age"]

0    23.0
1    21.0
2    34.0
4     NaN
5     NaN
Name: age, dtype: float64

In [318]:
student_df["age"].min()

21.0

In [319]:
student_df.loc[:,["age","student_number"]].apply(pd.Series.min)

age                21.0
student_number    101.0
dtype: float64

In [320]:
student_df

     name last_name   age student_number
0  Finley      Ateş  23.0            101
1  Andrew     White  21.0            403
2   Blake      Ateş  34.0            302
4     NaN       NaN   NaN            502
5     NaN       NaN   NaN            503

In [321]:
# using lambda
student_df.loc[:,["age","student_number"]]

    age student_number
0  23.0            101
1  21.0            403
2  34.0            302
4   NaN            502
5   NaN            503

In [322]:
# using lambda
student_df.loc[:,["age","student_number"]].apply(lambda x: x.min())

age                21.0
student_number    101.0
dtype: float64

### applymap

>It only works for dataframe not for Series

In [323]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Duke', 'Walker', 'Hughes'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}

student_df = pd.DataFrame(students)
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake    Hughes   34             202

In [324]:
student_df[["name", "last_name"]].apply(len)

name         3
last_name    3
dtype: int64

In [325]:
def f(x):
    l = []
    for e in x:
        l.append(len(e))
        
    return l
student_df["name"].apply(len)

0    6
1    6
2    5
Name: name, dtype: int64

In [326]:
student_df[["name", "last_name"]].apply(f)

   name  last_name
0     6          4
1     6          6
2     5          6

In [327]:
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake    Hughes   34             202

In [328]:
student_df[["name", "last_name"]].applymap(len)

   name  last_name
0     6          4
1     6          6
2     5          6

In [329]:
student_df[["name", "last_name"]].applymap(str.lower)

     name last_name
0  finley      duke
1  andrew    walker
2   blake    hughes

In [330]:
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake    Hughes   34             202

In [331]:
student_df["name"]

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [332]:
def f_g(x):
    l = []
    for e in x:
        yield e.lower()
def f_1(x):
    
    for e in x:
        return e.lower()
        
    
student_df[["name", "last_name"]].apply(f_1)

name         finley
last_name      duke
dtype: object

In [333]:
student_df[["name", "last_name"]].apply(f_g)

name         <generator object f_g at 0x000002171C543AE0>
last_name    <generator object f_g at 0x000002171C543D80>
dtype: object

### map

>only works for Series

In [334]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Duke', 'Walker', 'Hughes'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}

student_df = pd.DataFrame(students)
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake    Hughes   34             202

In [335]:
student_df["name"].map({"finley":"Jane"})

0    NaN
1    NaN
2    NaN
Name: name, dtype: object

In [336]:
student_df["name"].map({"Finley":"Jane"})

0    Jane
1     NaN
2     NaN
Name: name, dtype: object

### replace

In [337]:
student_df["name"].replace({"finley":"Jane"})

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [338]:
student_df["name"].replace({"Finley":"Jane"})

0      Jane
1    Andrew
2     Blake
Name: name, dtype: object

In [339]:
student_df

     name last_name  age  student_number
0  Finley      Duke   23             101
1  Andrew    Walker   21             403
2   Blake    Hughes   34             202

## 6) Adding/Removing Rows and Columns

In [341]:

students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Brown', 'Brown', 'Hughes'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}
df = pd.DataFrame(students)
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [342]:
df["name"]

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [343]:
df["last_name"]

0     Brown
1     Brown
2    Hughes
Name: last_name, dtype: object

In [344]:
df["name"] + " " + df["last_name"]

0    Finley Brown
1    Andrew Brown
2    Blake Hughes
dtype: object

### Adding Column

In [345]:
d = {"a":2}
d

{'a': 2}

In [346]:
d["b"] = 3

In [347]:
d

{'a': 2, 'b': 3}

In [348]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [349]:
df["full_name"] = df["name"] + " " + df["last_name"]
df

     name last_name  age  student_number     full_name
0  Finley     Brown   23             101  Finley Brown
1  Andrew     Brown   21             403  Andrew Brown
2   Blake    Hughes   34             202  Blake Hughes

### Removing Column

In [350]:
df.drop(columns=["name","last_name"], inplace=True)
df

   age  student_number     full_name
0   23             101  Finley Brown
1   21             403  Andrew Brown
2   34             202  Blake Hughes

In [351]:
df[["age","full_name"]]

   age     full_name
0   23  Finley Brown
1   21  Andrew Brown
2   34  Blake Hughes

In [352]:
type(df[["age","full_name"]])

pandas.core.frame.DataFrame

In [353]:
# reversing the drop

In [354]:
s = "Finley Brown"
s.split(" ")

['Finley', 'Brown']

In [355]:
df["full_name"].str.split(" ")

0    [Finley, Brown]
1    [Andrew, Brown]
2    [Blake, Hughes]
Name: full_name, dtype: object

In [356]:
?pd.Series.str.split
df["full_name"].str.split(" ", expand=True)

        0       1
0  Finley   Brown
1  Andrew   Brown
2   Blake  Hughes

Signature:
pd.Series.str.split(
    self,
    pat: 'str | re.Pattern | None' = None,
    *,
    n=-1,
    expand: 'bool' = False,
    regex: 'bool | None' = None,
)
Docstring:
Split strings around given separator/delimiter.

Splits the string in the Series/Index from the beginning,
at the specified delimiter string.

Parameters
----------
pat : str or compiled regex, optional
    String or regular expression to split on.
    If not specified, split on whitespace.
n : int, default -1 (all)
    Limit number of splits in output.
    ``None``, 0 and -1 will be interpreted as return all splits.
expand : bool, default False
    Expand the split strings into separate columns.

    - If ``True``, return DataFrame/MultiIndex expanding dimensionality.
    - If ``False``, return Series/Index, containing lists of strings.

regex : bool, default None
    Determines if the passed-in pattern is a regular expression:

    - If ``True``, assumes the passed-in pattern is a regular expression
    - If ``False``, treats the pattern as a literal string.
    - If ``None`` and `pat` length is 1, treats `pat` as a literal string.
    - If ``None`` and `pat` length is not 1, treats `pat` as a regular expression.
    - Cannot be set to False if `pat` is a compiled regex

    .. versionadded:: 1.4.0

Returns
-------
Series, Index, DataFrame or MultiIndex
    Type matches caller unless ``expand=True`` (see Notes).

                  Raises
                  ------
                  ValueError
                      * if `regex` is False and `pat` is a compiled regex

See Also
--------
Series.str.split : Split strings around given separator/delimiter.
Series.str.rsplit : Splits string around given separator/delimiter,
    starting from the right.
Series.str.join : Join lists contained as elements in the Series/Index
    with passed delimiter.
str.split : Standard library version for split.
str.rsplit : Standard library version for rsplit.

Notes
-----
The handling of the `n` keyword depends on the number of found splits:

- If found splits > `n`,  make first `n` splits only
- If found splits <= `n`, make all splits
- If for a certain row the number of found splits < `n`,
  append `None` for padding up to `n` if ``expand=True``

If using ``expand=True``, Series and Index callers return DataFrame and
MultiIndex objects, respectively.

Use of `regex =False` with a `pat` as a compiled regex will raise an error.

Examples
--------
>>> s = pd.Series(
...     [
...         "this is a regular sentence",
...         "https://docs.python.org/3/tutorial/index.html",
...         np.nan
...     ]
... )
>>> s
0                       this is a regular sentence
1    https://docs.python.org/3/tutorial/index.html
2                                              NaN
dtype: object

In the default setting, the string is split by whitespace.

>>> s.str.split()
0                   [this, is, a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

Without the `n` parameter, the outputs of `rsplit` and `split`
are identical.

>>> s.str.rsplit()
0                   [this, is, a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

The `n` parameter can be used to limit the number of splits on the
delimiter. The outputs of `split` and `rsplit` are different.

>>> s.str.split(n=2)
0                     [this, is, a regular sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

>>> s.str.rsplit(n=2)
0                     [this is a, regular, sentence]
1    [https://docs.python.org/3/tutorial/index.html]
2                                                NaN
dtype: object

The `pat` parameter can be used to split by other characters.

>>> s.str.split(pat="/")
0                         [this is a regular sentence]
1    [https:, , docs.python.org, 3, tutorial, index...
2                                                  NaN
dtype: object

When using ``expand=True``, the split elements will expand out into
separate columns. If NaN is present, it is propagated throughout
the columns during the split.

>>> s.str.split(expand=True)
                                               0     1     2        3         4
0                                           this    is     a  regular  sentence
1  https://docs.python.org/3/tutorial/index.html  None  None     None      None
2                                            NaN   NaN   NaN      NaN       NaN

For slightly more complex use cases like splitting the html document name
from a url, a combination of parameter settings can be used.

>>> s.str.rsplit("/", n=1, expand=True)
                                    0           1
0          this is a regular sentence        None
1  https://docs.python.org/3/tutorial  index.html
2                                 NaN         NaN

Remember to escape special characters when explicitly using regular expressions.

>>> s = pd.Series(["foo and bar plus baz"])
>>> s.str.split(r"and|plus", expand=True)
    0   1   2
0 foo bar baz

Regular expressions can be used to handle urls or file names.
When `pat` is a string and ``regex=None`` (the default), the given `pat` is compiled
as a regex only if ``len(pat) != 1``.

>>> s = pd.Series(['foojpgbar.jpg'])
>>> s.str.split(r".", expand=True)
           0    1
0  foojpgbar  jpg

>>> s.str.split(r"\.jpg", expand=True)
           0 1
0  foojpgbar

When ``regex=True``, `pat` is interpreted as a regex

>>> s.str.split(r"\.jpg", regex=True, expand=True)
           0 1
0  foojpgbar

A compiled regex can be passed as `pat`

>>> import re
>>> s.str.split(re.compile(r"\.jpg"), expand=True)
           0 1
0  foojpgbar

When ``regex=False``, `pat` is interpreted as the string itself

>>> s.str.split(r"\.jpg", regex=False, expand=True)
               0
0  foojpgbar.jpg
File:      c:\users\w10\appdata\local\programs\python\python311\lib\site-packages\pandas\core\strings\accessor.py
Type:      function

In [357]:
df[["name", "last_name"]] = df["full_name"].str.split(" ", expand=True)
df

   age  student_number     full_name    name last_name
0   23             101  Finley Brown  Finley     Brown
1   21             403  Andrew Brown  Andrew     Brown
2   34             202  Blake Hughes   Blake    Hughes

In [358]:
df = df.drop(columns="full_name")
df

   age  student_number    name last_name
0   23             101  Finley     Brown
1   21             403  Andrew     Brown
2   34             202   Blake    Hughes

### Adding Two DataFrame Together

In [365]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Brown', 'Brown', 'Hughes'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}

df = pd.DataFrame(students)
students_2 = {
    'name': ['Charlie', 'Loui', 'Donra'],
    'last_name': ['Brown', 'Black', 'High'],
    'age': [8, 21, 34],
    'student_number': [201, 404, 502],
    'student_number2': [1201, 1404, 1502]
}

In [366]:
df2 = pd.DataFrame(students_2)
df2

      name last_name  age  student_number  student_number2
0  Charlie     Brown    8             201             1201
1     Loui     Black   21             404             1404
2    Donra      High   34             502             1502

In [367]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

### Removing Rows

In [376]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [377]:
df.drop(index=2)

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403

In [378]:
schema_df

,qname,question,force_resp,type,selector
qid,,,,,
QID16,S0,"<div><span style=""font-size:19px;""><strong>Hel...",False,DB,TB
QID12,MetaInfo,Browser Meta Info,False,Meta,Browser
QID1,S1,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID2,MainBranch,Which of the following options best describes ...,True,MC,SAVR
QID296,Employment,Which of the following best describes your cur...,False,MC,MAVR
QID308,RemoteWork,Which best describes your current work situation?,False,MC,SAVR
QID297,CodingActivities,Which of the following best describes the code...,False,MC,MAVR
QID190,S2,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID25,EdLevel,Which of the following best describes the high...,False,MC,SAVR
QID276,LearnCode,How did you learn to code? Select all that apply.,False,MC,MAVR
QID281,LearnCodeOnline,What online resources do you use to learn to c...,False,MC,MAVR
QID306,LearnCodeCoursesCert,What online courses or certifications do you u...,False,MC,MAVR
QID32,YearsCode,"Including any education, how many years have y...",False,MC,DL
QID34,YearsCodePro,"NOT including education, how many years have y...",False,MC,DL
QID31,DevType,Which of the following describes your current ...,False,MC,MAVR
QID29,OrgSize,Approximately how many people are employed by ...,False,MC,MAVR
QID278,PurchaseInfluence,"What level of influence do you, personally, ha...",False,MC,SAVR
QID279,BuyNewTool,"When buying a new tool or software, how do you...",False,MC,MAVR
QID6,Country,"Where do you live? <span style=""font-weight: b...",True,MC,DL
QID50,Currency,Which currency do you use day-to-day? If your ...,True,MC,DL
QID51,CompTotal,What is your current total compensation (salar...,False,TE,SL
QID52,CompFreq,"Is that compensation weekly, monthly, or yearly?",False,MC,MAVR
QID61,S3,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID233,Language,"Which <b>programming, scripting, and markup la...",False,Matrix,Likert
QID262,Database,Which <b>database environments </b>have you do...,False,Matrix,Likert
QID263,Platform,Which <b>cloud platforms</b> have you done ext...,False,Matrix,Likert
QID264,Webframe,Which <b>web frameworks and web technologies</...,False,Matrix,Likert
QID265,MiscTech,Which <b>other frameworks and libraries</b> ha...,False,Matrix,Likert
QID275,ToolsTech,Which <b>developer </b><strong>tools</strong> ...,False,Matrix,Likert
QID274,NEWCollabTools,Which <strong>development environments</strong...,False,Matrix,Likert
QID71,OpSys,What is the primary <b>operating system</b> in...,False,Matrix,Likert
QID283,VersionControlSystem,What are the primary <b>version control system...,False,MC,MAVR
QID284,VCInteraction,How do you interact with your version control ...,False,MC,MAVR
QID285,VCHosting,What version control hosting service are you u...,False,Matrix,Likert
QID282,OfficeStackAsync,Which <b>collaborative work management tools</...,False,Matrix,Likert
QID307,OfficeStackSync,Which <b>communication tools</b> did you use r...,False,Matrix,Likert
QID305,Blockchain,"How favorable are you about blockchain, crypto...",False,MC,SAVR
QID91,S4,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID266,NEWSOSites,Which of the following Stack Overflow sites ha...,False,MC,MAVR
QID100,SOVisitFreq,How frequently would you say you visit Stack O...,False,MC,MAVR
QID101,SOAccount,Do you have a Stack Overflow account?,False,MC,MAVR
QID102,SOPartFreq,How frequently would you say you participate i...,False,MC,MAVR
QID106,SOComm,Do you consider yourself a member of the Stack...,False,MC,MAVR
QID121,S5,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID127,Age,What is your age?,False,MC,MAVR
QID122,Gender,"Which of the following describe you, if any? P...",False,MC,MAVR
QID153,Trans,Do you identify as transgender?,False,MC,MAVR
QID136,Sexuality,"Which of the following describe you, if any? P...",False,MC,MAVR
QID126,Ethnicity,"Which of the following describe you, if any? P...",False,MC,MAVR
QID124,Accessibility,"Which of the following describe you, if any? P...",False,MC,MAVR
QID125,MentalHealth,"Which of the following describe you, if any? P...",False,MC,MAVR
QID295,S6,"<span style=""font-size:22px; font-family: aria...",False,DB,TB
QID299,TBranch,"<span style=""font-size:16px;"">Would you like t...",True,MC,SAVR
QID287,ICorPM,Are you an independent contributor or people m...,False,MC,SAVR
QID288,WorkExp,How many years of working experience do you have?,False,Slider,HSLIDER
QID289,Knowledge,Please rate your level of agreement with the f...,False,Matrix,Likert
QID290,Frequency,How frequently do you experience each of the f...,False,Matrix,Likert
QID291,TimeSearching,"On an average day, how much time do you typica...",False,MC,SAVR
QID292,TimeAnswering,"On an average day, how much time do you typica...",False,MC,SAVR
QID293,Onboarding,The time it takes to onboard new hires at my c...,False,MC,SAVR
QID304,ProfessionalTech,My company has:,False,MC,MAVR
QID286,SOTeamsUsage,Does your team use Stack Overflow for Teams?,False,MC,SAVR
QID294,TrueFalse,Last few questions...,False,Matrix,Likert
QID131,S7,"<span style=""font-size:22px;""><strong>Final Qu...",False,DB,TB
QID132,SurveyLength,How do you feel about the length of the survey...,False,MC,MAVR
QID133,SurveyEase,How easy or difficult was this survey to compl...,False,MC,MAVR
QID289,Knowledge_1,I have interactions with people outside of my ...,NaN,MC,MAVR
QID289,Knowledge_2,Knowledge silos prevent me from getting ideas ...,NaN,MC,MAVR
QID289,Knowledge_3,I can find up-to-date information within my or...,NaN,MC,MAVR
QID289,Knowledge_4,I am able to quickly find answers to my questi...,NaN,MC,MAVR
QID289,Knowledge_5,I know which system or resource to use to find...,NaN,MC,MAVR
QID289,Knowledge_6,I often find myself answering questions that I...,NaN,MC,MAVR
QID289,Knowledge_7,Waiting on answers to questions often causes i...,NaN,MC,MAVR
QID290,Frequency_1,Needing help from people outside of your immed...,NaN,MC,MAVR
QID290,Frequency_2,Interacting with people outside of your immedi...,NaN,MC,MAVR
QID290,Frequency_3,Encountering knowledge silos (where one indivi...,NaN,MC,MAVR
QID294,TrueFalse_1,Are you involved in supporting new hires durin...,NaN,MC,MAVR
QID294,TrueFalse_2,Do you use learning resources provided by your...,NaN,MC,MAVR
QID294,TrueFalse_3,Does your employer give you time to learn new ...,NaN,MC,MAVR

### Drop Rows Using Conditionals

In [381]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

In [382]:
filt = (df["age"] < 24)
df[filt]

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403

In [383]:
df[filt].index

Index([0, 1], dtype='int64')

In [384]:
df.drop(index=df[filt].index)

    name last_name  age  student_number
2  Blake    Hughes   34             202

In [385]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew     Brown   21             403
2   Blake    Hughes   34             202

## 7) Sorting

In [386]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Arown', 'Abker', 'Hughes'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}
df = pd.DataFrame(students)
df

     name last_name  age  student_number
0  Finley     Arown   23             101
1  Andrew     Abker   21             403
2   Blake    Hughes   34             202

In [389]:
df.loc[0]

name              Finley
last_name          Arown
age                   23
student_number       101
Name: 0, dtype: object

In [390]:
df.iloc[0]

name              Finley
last_name          Arown
age                   23
student_number       101
Name: 0, dtype: object

### Sorting by Specific Column

In [391]:
df2 = df.sort_values(by="name")
df2

     name last_name  age  student_number
1  Andrew     Abker   21             403
2   Blake    Hughes   34             202
0  Finley     Arown   23             101

In [392]:
df2.iloc[0]

name              Andrew
last_name          Abker
age                   21
student_number       403
Name: 1, dtype: object

In [393]:
df2.loc[0]

name              Finley
last_name          Arown
age                   23
student_number       101
Name: 0, dtype: object

In [394]:
df.sort_values(by="name")

     name last_name  age  student_number
1  Andrew     Abker   21             403
2   Blake    Hughes   34             202
0  Finley     Arown   23             101

In [395]:
df

     name last_name  age  student_number
0  Finley     Arown   23             101
1  Andrew     Abker   21             403
2   Blake    Hughes   34             202

In [396]:
df.sort_values(by="age")

     name last_name  age  student_number
1  Andrew     Abker   21             403
0  Finley     Arown   23             101
2   Blake    Hughes   34             202

In [397]:
df.sort_values(by="age", ascending=False)

     name last_name  age  student_number
2   Blake    Hughes   34             202
0  Finley     Arown   23             101
1  Andrew     Abker   21             403

In [398]:
students = {
    'name': ['Finley', 'Andrew', 'Blake'],
    'last_name': ['Brown','Hughes','Brown'],
    'age': [23, 21, 34],
    'student_number': [101, 403, 202]
}
df = pd.DataFrame(students)
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew    Hughes   21             403
2   Blake     Brown   34             202

In [399]:
# It will first sort by last name and if there are identical elements, it will compare name column
df.sort_values(by=["last_name", "name"])

     name last_name  age  student_number
2   Blake     Brown   34             202
0  Finley     Brown   23             101
1  Andrew    Hughes   21             403

In [400]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew    Hughes   21             403
2   Blake     Brown   34             202

### Sorting by One column Ascending Order and Descending with Other Column

In [401]:
df

     name last_name  age  student_number
0  Finley     Brown   23             101
1  Andrew    Hughes   21             403
2   Blake     Brown   34             202

In [402]:
df.sort_values(by=["last_name", "name"], ascending=[True,False])

     name last_name  age  student_number
0  Finley     Brown   23             101
2   Blake     Brown   34             202
1  Andrew    Hughes   21             403

In [403]:
df.sort_values(by=["last_name", "age"], ascending=[True,False])

     name last_name  age  student_number
2   Blake     Brown   34             202
0  Finley     Brown   23             101
1  Andrew    Hughes   21             403

In [404]:
df.sort_values(by=["last_name", "age"], ascending=[True,True])

     name last_name  age  student_number
0  Finley     Brown   23             101
2   Blake     Brown   34             202
1  Andrew    Hughes   21             403

In [405]:
df.sort_values(["last_name", "age"])

     name last_name  age  student_number
0  Finley     Brown   23             101
2   Blake     Brown   34             202
1  Andrew    Hughes   21             403

### Sorting Just Series

In [406]:
df["name"]

0    Finley
1    Andrew
2     Blake
Name: name, dtype: object

In [407]:
df["name"].sort_values()

1    Andrew
2     Blake
0    Finley
Name: name, dtype: object

In [411]:
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

### Duplicate Indices

>Pandas concatenation preserves indices, even if the result will have duplicate indices where np.concatenate does not

In [419]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                       'B': ['B0', 'B1', 'B2', 'B3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                     'D': ['D0', 'D1', 'D2', 'D3']},
                      index=[0, 1, 2, 3])

In [421]:
df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [423]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                      'B': ['B4', 'B5', 'B6', 'B7'],
                       'C': ['C4', 'C5', 'C6', 'C7'],
                       'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [424]:
df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [425]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                  index=[8, 9, 10, 11])

In [426]:
df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [427]:
frames = [df1, df2, df3]

In [428]:
result = pd.concat(frames)

In [429]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [431]:
result = pd.concat(frames, keys=['x', 'y', 'z'])

In [432]:
result

        A    B    C    D
x 0    A0   B0   C0   D0
  1    A1   B1   C1   D1
  2    A2   B2   C2   D2
  3    A3   B3   C3   D3
y 4    A4   B4   C4   D4
  5    A5   B5   C5   D5
  6    A6   B6   C6   D6
  7    A7   B7   C7   D7
z 8    A8   B8   C8   D8
  9    A9   B9   C9   D9
  10  A10  B10  C10  D10
  11  A11  B11  C11  D11

In [433]:
result.loc['y']

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [436]:
df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
                   'D': ['D2', 'D3', 'D6', 'D7'],
                     'F': ['F2', 'F3', 'F6', 'F7']},
                   index=[2, 3, 6, 7])
   

result = pd.concat([df1, df4], axis=1)

In [437]:
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [438]:
result = pd.concat([df1, df4], axis=1, join='inner')

In [439]:
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [ ]:
# Concatenating with mixed ndims

In [442]:
s1 = pd.Series(['X0', 'X1', 'X2', 'X3'], name='X')

In [443]:
result = pd.concat([df1, s1], axis=1)

In [444]:
result

    A   B   C   D   X
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

In [445]:
s2 = pd.Series(['_0', '_1', '_2', '_3'])

In [446]:
result = pd.concat([df1, s2, s2, s2], axis=1)

In [447]:
result

    A   B   C   D   0   1   2
0  A0  B0  C0  D0  _0  _0  _0
1  A1  B1  C1  D1  _1  _1  _1
2  A2  B2  C2  D2  _2  _2  _2
3  A3  B3  C3  D3  _3  _3  _3

In [448]:
result = pd.concat([df1, s1], axis=1, ignore_index=True)

In [449]:
result

    0   1   2   3   4
0  A0  B0  C0  D0  X0
1  A1  B1  C1  D1  X1
2  A2  B2  C2  D2  X2
3  A3  B3  C3  D3  X3

## 8) Aggregation

>
Combining multiple pieces of data into a single result
For example mean and median are aggregate functions, they take data and convert them into a single result

In [456]:
df = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId")
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qid")

In [457]:
df.head()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

In [458]:
df.describe()

,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [459]:
df["WorkExp"].describe()

count    36769.000000
mean        10.242378
std          8.706850
min          0.000000
25%          4.000000
50%          8.000000
75%         15.000000
max         50.000000
Name: WorkExp, dtype: float64

### Count

In [460]:
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [461]:
df["WorkExp"].count()

36769

In [462]:
df.count()

MainBranch                        73268
Employment                        71709
RemoteWork                        58958
CodingActivities                  58899
EdLevel                           71571
LearnCode                         71580
LearnCodeOnline                   50685
LearnCodeCoursesCert              29389
YearsCode                         71331
YearsCodePro                      51833
DevType                           61302
OrgSize                           51039
PurchaseInfluence                 50969
BuyNewTool                        67963
Country                           71771
Currency                          51264
CompTotal                         38422
CompFreq                          44425
LanguageHaveWorkedWith            70975
LanguageWantToWorkWith            67027
DatabaseHaveWorkedWith            60121
DatabaseWantToWorkWith            51014
PlatformHaveWorkedWith            49924
PlatformWantToWorkWith            40415
WebframeHaveWorkedWith            53544
WebframeWantToWorkWith            46122
MiscTechHaveWorkedWith            44992
MiscTechWantToWorkWith            36810
ToolsTechHaveWorkedWith           54171
ToolsTechWantToWorkWith           46566
NEWCollabToolsHaveWorkedWith      70347
NEWCollabToolsWantToWorkWith      64108
OpSysProfessional use             65503
OpSysPersonal use                 70963
VersionControlSystem              71379
VCInteraction                     68156
VCHostingPersonal use                 0
VCHostingProfessional use             0
OfficeStackAsyncHaveWorkedWith    46223
OfficeStackAsyncWantToWorkWith    32072
OfficeStackSyncHaveWorkedWith     62128
OfficeStackSyncWantToWorkWith     47688
Blockchain                        71071
NEWSOSites                        71365
SOVisitFreq                       70961
SOAccount                         71572
SOPartFreq                        58229
SOComm                            71408
Age                               70946
Gender                            70853
Trans                             70315
Sexuality                         66565
Ethnicity                         69474
Accessibility                     67244
MentalHealth                      66447
TBranch                           52670
ICorPM                            36283
WorkExp                           36769
Knowledge_1                       35804
Knowledge_2                       34973
Knowledge_3                       35133
Knowledge_4                       35097
Knowledge_5                       35014
Knowledge_6                       34991
Knowledge_7                       34977
Frequency_1                       35371
Frequency_2                       35344
Frequency_3                       34515
TimeSearching                     36198
TimeAnswering                     36022
Onboarding                        35679
ProfessionalTech                  34906
TrueFalse_1                       35819
TrueFalse_2                       35715
TrueFalse_3                       35749
SurveyLength                      70444
SurveyEase                        70508
ConvertedCompYearly               38071
dtype: int64

## 9) Grouping

>It is splitting the object, applying the function to them and combining the results

In [463]:
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [464]:
df.columns

Index(['MainBranch', 'Employment', 'RemoteWork', 'CodingActivities', 'EdLevel',
       'LearnCode', 'LearnCodeOnline', 'LearnCodeCoursesCert', 'YearsCode',
       'YearsCodePro', 'DevType', 'OrgSize', 'PurchaseInfluence', 'BuyNewTool',
       'Country', 'Currency', 'CompTotal', 'CompFreq',
       'LanguageHaveWorkedWith', 'LanguageWantToWorkWith',
       'DatabaseHaveWorkedWith', 'DatabaseWantToWorkWith',
       'PlatformHaveWorkedWith', 'PlatformWantToWorkWith',
       'WebframeHaveWorkedWith', 'WebframeWantToWorkWith',
       'MiscTechHaveWorkedWith', 'MiscTechWantToWorkWith',
       'ToolsTechHaveWorkedWith', 'ToolsTechWantToWorkWith',
       'NEWCollabToolsHaveWorkedWith', 'NEWCollabToolsWantToWorkWith',
       'OpSysProfessional use', 'OpSysPersonal use', 'VersionControlSystem',
       'VCInteraction', 'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [465]:
df["Country"]

ResponseId
1                                                      NaN
2                                                   Canada
3        United Kingdom of Great Britain and Northern I...
4                                                   Israel
5                                 United States of America
                               ...
73264                                              Nigeria
73265                             United States of America
73266                             United States of America
73267    United Kingdom of Great Britain and Northern I...
73268                                               Canada
Name: Country, Length: 73268, dtype: object

In [466]:
df["Country"].value_counts()

Country
United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: count, Length: 180, dtype: int64

In [467]:
df.groupby(["Country"])

### Splitting

In [468]:
country_group = df.groupby(["Country"])
# It only returns the rows that has answer Turkey in Country column
country_group.get_group("Turkey")

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;O...,NaN,11,7,"Developer, full-stack","10,000 or more employees",I have little or no influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,16000.0,Monthly,C;C++;HTML/CSS;Java;JavaScript;MATLAB;Python;SQL,C;C++;Clojure;JavaScript;Kotlin;Python;Scala,MySQL;PostgreSQL;SQLite,PostgreSQL;SQLite,Microsoft Azure,NaN,NaN,NaN,NumPy;Pandas;Scikit-learn;Spring,NumPy;Pandas;Scikit-learn,npm,npm,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter,Linux-based,Linux-based,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Favorable,Collectives on Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,12024.0
150,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,14,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,Turkey,NaN,NaN,NaN,C#;HTML/CSS;SQL;TypeScript,C#;Rust,Microsoft SQL Server,CouchDB;MongoDB;PostgreSQL;Redis;SQLite,NaN,NaN,Angular;ASP.NET;ASP.NET Core,ASP.NET Core ;Blazor,.NET,.NET;Xamarin,npm,Docker,Visual Studio;Visual Studio Code,Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Slack,NaN,Very unfavorable,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,I have an anxiety disorder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
237,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Bootstrapping a business;Freelance/contract work,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow,NaN,10,8,"Developer, back-end",100 to 499 employees,I have some influence,Start a free trial;Research companies that hav...,Turkey,TRY\tTurkish lira,NaN,Monthly,C#;Dart;JavaScript,C#,PostgreSQL,PostgreSQL,Firebase,AWS;Microsoft Azure,Angular.js;ASP.NET Core,ASP.NET Core ;Vue.js,.NET;Flutter,.NET,NaN,NaN,NaN,NaN,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,NaN,NaN,Unsure,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",25-34 years old,Man,No,Bisexual,Prefer not to say,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
329,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Associate degree (A.A., A.S., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Udemy,5,2,"Developer, mobile","10,000 or more employees",I have a great deal of influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,NaN,Monthly,C++;Java;JavaScript;SQL,Kotlin;SQL,PostgreSQL;Firebase Realtime Database;SQLite,PostgreSQL,DigitalOcean;Firebase;Heroku,Firebase;Microsoft Azure,ASP.NET Core ;Express;Node.js;React.js,NaN,Qt;React Native,NaN,Yarn,Flow;Homebrew,Android Studio;CLion;Eclipse;Qt Creator;Visual...,Android Studio,macOS;Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management,Jira Work Management,Cisco Webex Teams;Microsoft Teams;Zoom,Microsoft Teams;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",18-24 years old,Man,No,Straight / Heterosexual,Prefer not to say,Prefer not to say,Prefer not to say,Yes,Independent contributor,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60-120 minutes a day,15-30 minutes a day,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
385,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,12,NaN,NaN,NaN,NaN,Visit developer communities like Stack Overflow,Turkey,NaN,NaN,NaN,Python,Go;Python,MongoDB;MySQL;SQLite,NaN,Microsoft Azure,NaN,ASP.NET Core ;Blazor,NaN,NaN,NaN,NaN,NaN,PyCharm;Visual Studio,PyCharm,macOS;Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Trello,NaN,Slack;Zoom,Slack,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,25-34 years old,Man,No,Straight / Heterosexual,European;Middle Eastern,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72553,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;Pluralsight;edX,25,25,"Developer, full-stack;Developer, mobile;DevOps...","Just me - I am a freelancer, sole proprietor, ...",I have a great deal of influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,NaN,NaN,C#;Dart;HTML/CSS;JavaScript;Python;SQL,C#;Dart;F#;Go;HTML/CSS;JavaScript;Kotlin;Python,Microsoft SQL Server;MongoDB;MySQL;PostgreSQL;...,Cloud Firestore;Elasticsearch;MongoDB;Neo4j;Po...,DigitalOcean;Microsoft Azure,Firebase;Google Cloud,ASP.NET Core ;Blazor,ASP.NET Core ;Blazor;FastAPI,.NET;Flutter;Keras;NumPy;Pandas;Xamarin,.NET;Flutter;Keras;NumPy;Pandas;Scikit-learn;T...,NaN,NaN,Android Studio;Visual Studio;Visual Studio Code,Android Studio;Atom;GoLand;PyCharm;RAD Studio ...,Windows;Windows Subsystem for Linux (WSL),Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello,Confluence;Jira Work Management,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack;Zoom,Favorable,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",45-54 years old,Man,No,Straight / Heterosexual,European;Asian,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72597,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,13,9,"Developer, back-end",2 to 9 employees,I have little or no influence,Start a free trial;Visit developer communities...,Turkey,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;PHP;Python;TypeScript,NaN,MariaDB;MySQL;PostgreSQL;Redis,NaN,NaN,NaN,jQuery;Laravel;Vue.js,jQuery;Laravel;Vue.js,NaN,NaN,Docker;npm,Docker;npm,Notepad++;PhpStorm;PyCharm;Visual Studio Code,Notepad++;PhpStorm;PyCharm;Visual Studio Code,Windows;Windows Subsystem for Linux (WSL),Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line,NaN,NaN,ClickUp;Jira Work Management,ClickUp;Jira Work Management,Slack,Slack,Very unfavorable,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
72598,I am a developer by profession,"Student, full-time;Employed, part-time",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc);Online...",NaN,Coursera;Udemy;edX,3,NaN,"Developer, full-stack",NaN,NaN,Start a free trial;Read ratings or reviews on ...,Turkey,NaN,NaN,NaN,Bash/Shell;HTML/CSS;Java;JavaScript;PowerShell...,Bash/Shell;Elixir;Go;HTML/CSS;JavaScript;Power...,Microsoft SQL Server;MongoDB,MongoDB;Redis,Heroku;Microsoft Azure,AWS;Microsoft Azure,Express;Next.js;Node.js;React.js,Express;FastAPI;Next.js;Node.js;React.js,NaN,NaN,Docker;Kubernetes;npm;Yarn,Docker;Kubernetes;npm;Terraform;Yarn,Visual Studio Code,Visual Studio Code,Linux-based;Windows;Windows Subsystem for Linu...,Linux-based;Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack,Unfavorable,Stack Overflow,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72729,I am learning to code,"Not employed, but looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Video-based Online Cou...,Udemy,4,NaN,"Developer, back-end;Student;Developer, game or...",NaN,NaN,Visit developer communities like Stack Overflo...,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,NaN,NaN,Indifferent,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
72992,I am learning to code,"Not employed, but looking for work",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,3,NaN,"Developer, back-end;Student",NaN,NaN,Visit developer communities like Stack Overflo...,Turkey,NaN,NaN,NaN,C#;Python,Go;Python,MongoDB;PostgreSQL,MongoDB;PostgreSQL,AWS;DigitalOcean;Heroku,AWS,Django;FastAPI;Flask,Django;FastAPI;Flask,Pandas,NumPy;Pandas,Docker,Docker;Kubernetes,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,Linux-based,Linux-based,Git,Command-line,NaN,NaN,Jira Work Management,Jira Work Management,NaN,NaN,Unfavorable,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [469]:
df.groupby(["Country"]).get_group("Turkey")

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;O...,NaN,11,7,"Developer, full-stack","10,000 or more employees",I have little or no influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,16000.0,Monthly,C;C++;HTML/CSS;Java;JavaScript;MATLAB;Python;SQL,C;C++;Clojure;JavaScript;Kotlin;Python;Scala,MySQL;PostgreSQL;SQLite,PostgreSQL;SQLite,Microsoft Azure,NaN,NaN,NaN,NumPy;Pandas;Scikit-learn;Spring,NumPy;Pandas;Scikit-learn,npm,npm,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter,Linux-based,Linux-based,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Favorable,Collectives on Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,12024.0
150,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,14,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,Turkey,NaN,NaN,NaN,C#;HTML/CSS;SQL;TypeScript,C#;Rust,Microsoft SQL Server,CouchDB;MongoDB;PostgreSQL;Redis;SQLite,NaN,NaN,Angular;ASP.NET;ASP.NET Core,ASP.NET Core ;Blazor,.NET,.NET;Xamarin,npm,Docker,Visual Studio;Visual Studio Code,Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Slack,NaN,Very unfavorable,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,I have an anxiety disorder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
237,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Bootstrapping a business;Freelance/contract work,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow,NaN,10,8,"Developer, back-end",100 to 499 employees,I have some influence,Start a free trial;Research companies that hav...,Turkey,TRY\tTurkish lira,NaN,Monthly,C#;Dart;JavaScript,C#,PostgreSQL,PostgreSQL,Firebase,AWS;Microsoft Azure,Angular.js;ASP.NET Core,ASP.NET Core ;Vue.js,.NET;Flutter,.NET,NaN,NaN,NaN,NaN,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,NaN,NaN,Unsure,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",25-34 years old,Man,No,Bisexual,Prefer not to say,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
329,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Associate degree (A.A., A.S., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Udemy,5,2,"Developer, mobile","10,000 or more employees",I have a great deal of influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,NaN,Monthly,C++;Java;JavaScript;SQL,Kotlin;SQL,PostgreSQL;Firebase Realtime Database;SQLite,PostgreSQL,DigitalOcean;Firebase;Heroku,Firebase;Microsoft Azure,ASP.NET Core ;Express;Node.js;React.js,NaN,Qt;React Native,NaN,Yarn,Flow;Homebrew,Android Studio;CLion;Eclipse;Qt Creator;Visual...,Android Studio,macOS;Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management,Jira Work Management,Cisco Webex Teams;Microsoft Teams;Zoom,Microsoft Teams;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",18-24 years old,Man,No,Straight / Heterosexual,Prefer not to say,Prefer not to say,Prefer not to say,Yes,Independent contributor,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60-120 minutes a day,15-30 minutes a day,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
385,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,12,NaN,NaN,NaN,NaN,Visit developer communities like Stack Overflow,Turkey,NaN,NaN,NaN,Python,Go;Python,MongoDB;MySQL;SQLite,NaN,Microsoft Azure,NaN,ASP.NET Core ;Blazor,NaN,NaN,NaN,NaN,NaN,PyCharm;Visual Studio,PyCharm,macOS;Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Trello,NaN,Slack;Zoom,Slack,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,25-34 years old,Man,No,Straight / Heterosexual,European;Middle Eastern,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72553,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;Pluralsight;edX,25,25,"Developer, full-stack;Developer, mobile;DevOps...","Just me - I am a freelancer, sole proprietor, ...",I have a great deal of influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,NaN,NaN,C#;Dart;HTML/CSS;JavaScript;Python;SQL,C#;Dart;F#;Go;HTML/CSS;JavaScript;Kotlin;Python,Microsoft SQL Server;MongoDB;MySQL;PostgreSQL;...,Cloud Firestore;Elasticsearch;MongoDB;Neo4j;Po...,DigitalOcean;Microsoft Azure,Firebase;Google Cloud,ASP.NET Core ;Blazor,ASP.NET Core ;Blazor;FastAPI,.NET;Flutter;Keras;NumPy;Pandas;Xamarin,.NET;Flutter;Keras;NumPy;Pandas;Scikit-learn;T...,NaN,NaN,Android Studio;Visual Studio;Visual Studio Code,Android Studio;Atom;GoLand;PyCharm;RAD Studio ...,Windows;Windows Subsystem for Linux (WSL),Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello,Confluence;Jira Work Management,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack;Zoom,Favorable,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",45-54 years old,Man,No,Straight / Heterosexual,European;Asian,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72597,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,13,9,"Developer, back-end",2 to 9 employees,I have little or no influence,Start a free trial;Visit developer communities...,Turkey,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;PHP;Python;TypeScript,NaN,MariaDB;MySQL;PostgreSQL;Redis,NaN,NaN,NaN,jQuery;Laravel;Vue.js,jQuery;Laravel;Vue.js,NaN,NaN,Docker;npm,Docker;npm,Notepad++;PhpStorm;PyCharm;Visual Studio Code,Notepad++;PhpStorm;PyCharm;Visual Studio Code,Windows;Windows Subsystem for Linux (WSL),Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line,NaN,NaN,ClickUp;Jira Work Management,ClickUp;Jira Work Management,Slack,Slack,Very unfavorable,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
72598,I am a developer by profession,"Student, full-time;Employed, part-time",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc);Online...",NaN,Coursera;Udemy;edX,3,NaN,"Developer, full-stack",NaN,NaN,Start a free trial;Read ratings or reviews on ...,Turkey,NaN,NaN,NaN,Bash/Shell;HTML/CSS;Java;JavaScript;PowerShell...,Bash/Shell;Elixir;Go;HTML/CSS;JavaScript;Power...,Microsoft SQL Server;MongoDB,MongoDB;Redis,Heroku;Microsoft Azure,AWS;Microsoft Azure,Express;Next.js;Node.js;React.js,Express;FastAPI;Next.js;Node.js;React.js,NaN,NaN,Docker;Kubernetes;npm;Yarn,Docker;Kubernetes;npm;Terraform;Yarn,Visual Studio Code,Visual Studio Code,Linux-based;Windows;Windows Subsystem for Linu...,Linux-based;Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack,Unfavorable,Stack Overflow,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72729,I am learning to code,"Not employed, but looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Video-based Online Cou...,Udemy,4,NaN,"Developer, back-end;Student;Developer, game or...",NaN,NaN,Visit developer communities like Stack Overflo...,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,NaN,NaN,Indifferent,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
72992,I am learning to code,"Not employed, but looking for work",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,3,NaN,"Developer, back-end;Student",NaN,NaN,Visit developer communities like Stack Overflo...,Turkey,NaN,NaN,NaN,C#;Python,Go;Python,MongoDB;PostgreSQL,MongoDB;PostgreSQL,AWS;DigitalOcean;Heroku,AWS,Django;FastAPI;Flask,Django;FastAPI;Flask,Pandas,NumPy;Pandas,Docker,Docker;Kubernetes,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,Linux-based,Linux-based,Git,Command-line,NaN,NaN,Jira Work Management,Jira Work Management,NaN,NaN,Unfavorable,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [470]:
type(country_group.get_group("Turkey"))

pandas.core.frame.DataFrame

In [471]:
country_group.get_group("India")

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,India,NaN,NaN,NaN,C++;HTML/CSS;JavaScript;PHP;Python;TypeScript,C;C#;C++;Elixir;Go;HTML/CSS;Java;JavaScript;Ko...,Cloud Firestore;MongoDB;Firebase Realtime Data...,MySQL;Oracle;PostgreSQL,NaN,NaN,Angular;Next.js;Node.js;React.js;Svelte;Vue.js,Django;Flask;Gatsby;jQuery;Next.js;Node.js;Rea...,NaN,NaN,Homebrew;npm,npm,Atom;IntelliJ;Notepad++;PyCharm;Sublime Text;V...,Visual Studio Code;Webstorm,macOS,macOS,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Slack;Zoom,Google Chat;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",Under 18 years old,Man,No,NaN,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,NaN,"Developer, full-stack;Student",NaN,NaN,Start a free trial,India,NaN,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;SQL,APL;Bash/Shell;Go;Python;TypeScript,MongoDB;MySQL,Neo4j;PostgreSQL,AWS;Google Cloud;Heroku,DigitalOcean;Firebase;Microsoft Azure;VMware,jQuery;Node.js,Angular;Angular.js;Next.js;Vue.js,NaN,NaN,npm,Unity 3D;Yarn,Atom;CLion;Eclipse;IntelliJ;Notepad++;Visual S...,Android Studio;IPython/Jupyter;Sublime Text;Vi...,Linux-based;macOS,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Google Chat;Microsoft Teams;Zoom,NaN,Very favorable,Collectives on Stack Overflow;Stack Overflow;S...,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"Yes, definitely",18-24 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
66,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Inte...,Udemy,3,2,"Developer, back-end;DevOps specialist","10,000 or more employees",I have little or no influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,NaN,Monthly,C#,C++;JavaScript,MongoDB;MySQL,NaN,NaN,NaN,NaN,NaN,.NET,.NET;React Native;TensorFlow,NaN,NaN,Eclipse;Notepad++;Sublime Text;Visual Studio;V...,Notepad++;Visual Studio;Visual Studio Code,Windows,Linux-based,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Cisco Webex Teams;Microsoft Teams;Zoom,Microsoft Teams,Unfavorable,Stack Overflow;Stack Exchange,Daily or almost daily,Not sure/can't remember,NaN,"Yes, somewhat",18-24 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,Independent contributor,2.0,Strongly agree,Agree,Disagree,Agree,Agree,Agree,Agree,Never,1-2 times a week,3-5 times a week,30-60 minutes a day,15-30 minutes a day,Just right,Microservices;Continuous integration (CI) and ...,No,Yes,Yes,Too long,Easy,NaN
141,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,13,12,"Developer, front-end;Developer, full-stack;Des...","10,000 or more employees",I have a great deal of influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,NaN,NaN,HTML/CSS;JavaScript;Kotlin;TypeScript,Groovy,Elasticsearch;PostgreSQL,MongoDB,NaN,NaN,Angular;Express;jQuery,React.js;Vue.js,Spring,React Native,Kubernetes;npm,Docker;Puppet,IntelliJ,Visual Studio Code;Webstorm,Windows,Windows,Git,Code editor,NaN,NaN,Confluence;Trello,Jira Work Management;Stack Overflow for Teams,Microsoft Teams;Symphony,Cisco Webex Teams,Indifferent,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,Independent contributor,12.0,Agree,Disagree,Agree,Agree,Neither agree nor disagree,Agree,Agree,Never,1-2 times a week,Never,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
152,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;W...,Udemy;Pluralsight;Udacity,12,12,"Developer, full-stack;Data or business analyst","10,000 or more employees",I have some influence,Ask developers I know/work with;Research compa...,India,INR\tIndian rupee,100000.0,Monthly,Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL,Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL,Oracle;PostgreSQL;Redis;SQLite,Oracle;PostgreSQL;Redis;SQLite,Oracle Cloud Infrastructure,Oracle Cloud Infrastructure,Angular;Express;Flask;Next.js;Node.js;React.js,Angular;Express;Flask;Next.js;Node.js;React.js,NumPy;Pandas;Spring,NumPy;Pandas;Spring,Docker;Kubernetes;npm;Yarn,Docker;Kubernetes;npm;Yarn,Notepad++;Visual Studio Code,Notepad++;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git;SVN,Command-line;Version control hosting service w...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams,Microsoft Teams,Very favorable,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,Neutral,25-34 years old,Man,No,Straight / Heterosexual,Indian;Asian,None of the above,None of the above,Yes,People manager,12.0,Strongly agree,Disagree,Agree,Agree,Agree,Agree,Agree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,15480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73185,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification,NaN,edX,8,5,"Developer, full-stack","5,000 to 9,999 employees",I have some influence,Start a free trial;Visit developer communities...,India,INR\tIndian rupee,2000000.0,Yearly,Java;Python,Julia;Python,PostgreSQL;SQLite,MongoDB;PostgreSQL;SQLite,AWS,AWS;OpenStack,NaN,NaN,Apache Kafka;Spring,Apache Kafka;Apache Spark;Pandas;React Native,npm,npm,IntelliJ;PyCharm;Sublime Text;Vim;Webstorm,IntelliJ;PyCharm;Vim;Webstorm,Windows,Linux-based;Windows,Git;Other (please specify):,Code editor;Command-line,NaN,NaN,Confluence;Jira Work Management,Confluence;Jira Work Management,Microsoft Teams,Zoom,Favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Indian;Asian,None of the above,None of the above,Yes,Independent contributor,5.0,Strongly agree,Neither agree nor disagree,Agree,Agree,Agree,Agree,Agree,1-2 times a week,1-2 times a week,1-2 times a week,Over 120 minutes a day,30-60 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,No,Yes,No,Appropriate in length,Easy,NaN
73194,"I used to be a developer by profession, but no...","Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Coursera;Udemy,20,18,"Senior Executive (C-Suite, VP, etc.)",NaN,NaN,Start a free trial;Ask developers I know/work ...,India,NaN,NaN,NaN,HTML/CSS;JavaScript,Go;HTML/CSS;Java;JavaScript;TypeScript,MongoDB;Firebase Realtime Database,MongoDB;PostgreSQL;Redis,AWS,AWS;Microsoft Azure,Angular.js;Express;Node.js;React.js,React.js,React Native,Apache Kafka;Flutter;React Native;Spring,Docker;Kubernetes,Docker;Kubernetes;Terraform;Yarn,Sublime Text;Vim;Visual Studio Code,Eclipse;Sublime Text;Vim;Visual Studio Code,macOS,macOS,Git,Command-line,NaN,NaN,Confluence;Jira Work Management,Confluence;Jira Work Management,Slack;Zoom,Slack;Zoom,Indifferent,Stack Overflow;Stack Exchange,A few times per month or weekly,Yes,Less than once per month or monthly,"Yes, somewhat",35-44 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,Yes,People manager,18.0,Strongly agree,Agree,Agree,Agree,Agree,Disagree,Disagree,1-2 times a week,1-2 times a week,1-2 times a week,15-30 minutes a day,15-30 minutes a day,Somewhat long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
73256,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,14,7,"Developer, full-stack",100 to 499 employees,I have little or no influence,NaN,India,INR\tIndian rupee,NaN,Monthly,Bash/Shell;C#;HTML/CSS;JavaScript;Perl;PowerSh...,Bash/Shell;C#;HTML/CSS;JavaScript;Perl;PowerSh...,Microsoft SQL Server;MongoDB,Microsoft SQL Server;MongoDB,NaN,NaN,Angular;ASP.NET Core,Angular;ASP.NET Core ;React.js,.NET,.NET,Docker;Kubernetes;npm,Docker;Kubernetes;npm,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Command-line;Version control hosting service w...,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Prefer not to say,Indian,None of the above,None of the above,Yes,Independent contributor,7.0,Neither agree nor disagree,Agree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,Neither agree nor disagree,1-2 times a week,1-2 times a week,1-2 times a week,60-120 minutes a day,Less than 15 minutes a day,Somewhat long,DevOps function;Microservices;Continuous integ...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
73258,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,7,NaN,NaN,NaN,NaN,Visit developer communities like Stack Overflo...,India,NaN,NaN,NaN,C;Python;SQL,C;C++,MySQL,NaN,NaN,NaN,NaN,NaN,.NET,NaN,NaN,NaN,Visual Studio;Visual Studio Code,Visual Studio Code,NaN,Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Very unfavorable,Stack Overflow;Stack Exchange,Less than once per month or monthly,Yes,Less than once per month or monthly,"No, not at all",Under 18 years old,Man,No,Straight / Heterosexual,Indian,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5,1,"Developer, back-end",100 to 499 employees,I have some influence,Start a free trial;Ask developers I know/work ...,India,INR\tIndian rupee,3200000.0,Yearly,Go;Java;SQL,JavaScript;TypeScript,MongoDB;MySQL,MySQL;Redis,AWS,Google Cloud,NaN,NaN,Apache Kafka;Spring,NaN,Docker;Homebrew;Kubernetes;npm,Kubernetes,Eclipse;GoLand;Vim;Visual Studio Code,GoLand;Vim;Visual Studio Code,macOS,Linux-based;Windows,Git,Command-line,NaN,NaN,Notion,NaN,Slack;Zoom,NaN,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",18-24 years old,Man,No,Straight / Heterosexual,Asian,NaN,None of the above,Yes,Independent contributor,1.0,Strongly agree,Disagree,Strongly agree,Agree,Neither agree nor disagree,Agree,Agree,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN

In [472]:
filt = df["Country"] == "Turkey"
df.loc[filt]

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;O...,NaN,11,7,"Developer, full-stack","10,000 or more employees",I have little or no influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,16000.0,Monthly,C;C++;HTML/CSS;Java;JavaScript;MATLAB;Python;SQL,C;C++;Clojure;JavaScript;Kotlin;Python;Scala,MySQL;PostgreSQL;SQLite,PostgreSQL;SQLite,Microsoft Azure,NaN,NaN,NaN,NumPy;Pandas;Scikit-learn;Spring,NumPy;Pandas;Scikit-learn,npm,npm,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter,Linux-based,Linux-based,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Favorable,Collectives on Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,12024.0
150,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,14,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,Turkey,NaN,NaN,NaN,C#;HTML/CSS;SQL;TypeScript,C#;Rust,Microsoft SQL Server,CouchDB;MongoDB;PostgreSQL;Redis;SQLite,NaN,NaN,Angular;ASP.NET;ASP.NET Core,ASP.NET Core ;Blazor,.NET,.NET;Xamarin,npm,Docker,Visual Studio;Visual Studio Code,Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Slack,NaN,Very unfavorable,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,I have an anxiety disorder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
237,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Bootstrapping a business;Freelance/contract work,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow,NaN,10,8,"Developer, back-end",100 to 499 employees,I have some influence,Start a free trial;Research companies that hav...,Turkey,TRY\tTurkish lira,NaN,Monthly,C#;Dart;JavaScript,C#,PostgreSQL,PostgreSQL,Firebase,AWS;Microsoft Azure,Angular.js;ASP.NET Core,ASP.NET Core ;Vue.js,.NET;Flutter,.NET,NaN,NaN,NaN,NaN,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,NaN,NaN,Unsure,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",25-34 years old,Man,No,Bisexual,Prefer not to say,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
329,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Associate degree (A.A., A.S., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Udemy,5,2,"Developer, mobile","10,000 or more employees",I have a great deal of influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,NaN,Monthly,C++;Java;JavaScript;SQL,Kotlin;SQL,PostgreSQL;Firebase Realtime Database;SQLite,PostgreSQL,DigitalOcean;Firebase;Heroku,Firebase;Microsoft Azure,ASP.NET Core ;Express;Node.js;React.js,NaN,Qt;React Native,NaN,Yarn,Flow;Homebrew,Android Studio;CLion;Eclipse;Qt Creator;Visual...,Android Studio,macOS;Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management,Jira Work Management,Cisco Webex Teams;Microsoft Teams;Zoom,Microsoft Teams;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",18-24 years old,Man,No,Straight / Heterosexual,Prefer not to say,Prefer not to say,Prefer not to say,Yes,Independent contributor,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60-120 minutes a day,15-30 minutes a day,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
385,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,12,NaN,NaN,NaN,NaN,Visit developer communities like Stack Overflow,Turkey,NaN,NaN,NaN,Python,Go;Python,MongoDB;MySQL;SQLite,NaN,Microsoft Azure,NaN,ASP.NET Core ;Blazor,NaN,NaN,NaN,NaN,NaN,PyCharm;Visual Studio,PyCharm,macOS;Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Trello,NaN,Slack;Zoom,Slack,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,25-34 years old,Man,No,Straight / Heterosexual,European;Middle Eastern,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72553,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;Pluralsight;edX,25,25,"Developer, full-stack;Developer, mobile;DevOps...","Just me - I am a freelancer, sole proprietor, ...",I have a great deal of influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,NaN,NaN,C#;Dart;HTML/CSS;JavaScript;Python;SQL,C#;Dart;F#;Go;HTML/CSS;JavaScript;Kotlin;Python,Microsoft SQL Server;MongoDB;MySQL;PostgreSQL;...,Cloud Firestore;Elasticsearch;MongoDB;Neo4j;Po...,DigitalOcean;Microsoft Azure,Firebase;Google Cloud,ASP.NET Core ;Blazor,ASP.NET Core ;Blazor;FastAPI,.NET;Flutter;Keras;NumPy;Pandas;Xamarin,.NET;Flutter;Keras;NumPy;Pandas;Scikit-learn;T...,NaN,NaN,Android Studio;Visual Studio;Visual Studio Code,Android Studio;Atom;GoLand;PyCharm;RAD Studio ...,Windows;Windows Subsystem for Linux (WSL),Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello,Confluence;Jira Work Management,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack;Zoom,Favorable,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",45-54 years old,Man,No,Straight / Heterosexual,European;Asian,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72597,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,13,9,"Developer, back-end",2 to 9 employees,I have little or no influence,Start a free trial;Visit developer communities...,Turkey,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;PHP;Python;TypeScript,NaN,MariaDB;MySQL;PostgreSQL;Redis,NaN,NaN,NaN,jQuery;Laravel;Vue.js,jQuery;Laravel;Vue.js,NaN,NaN,Docker;npm,Docker;npm,Notepad++;PhpStorm;PyCharm;Visual Studio Code,Notepad++;PhpStorm;PyCharm;Visual Studio Code,Windows;Windows Subsystem for Linux (WSL),Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line,NaN,NaN,ClickUp;Jira Work Management,ClickUp;Jira Work Management,Slack,Slack,Very unfavorable,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
72598,I am a developer by profession,"Student, full-time;Employed, part-time",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc);Online...",NaN,Coursera;Udemy;edX,3,NaN,"Developer, full-stack",NaN,NaN,Start a free trial;Read ratings or reviews on ...,Turkey,NaN,NaN,NaN,Bash/Shell;HTML/CSS;Java;JavaScript;PowerShell...,Bash/Shell;Elixir;Go;HTML/CSS;JavaScript;Power...,Microsoft SQL Server;MongoDB,MongoDB;Redis,Heroku;Microsoft Azure,AWS;Microsoft Azure,Express;Next.js;Node.js;React.js,Express;FastAPI;Next.js;Node.js;React.js,NaN,NaN,Docker;Kubernetes;npm;Yarn,Docker;Kubernetes;npm;Terraform;Yarn,Visual Studio Code,Visual Studio Code,Linux-based;Windows;Windows Subsystem for Linu...,Linux-based;Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack,Unfavorable,Stack Overflow,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72729,I am learning to code,"Not employed, but looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Video-based Online Cou...,Udemy,4,NaN,"Developer, back-end;Student;Developer, game or...",NaN,NaN,Visit developer communities like Stack Overflo...,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,NaN,NaN,Indifferent,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
72992,I am learning to code,"Not employed, but looking for work",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,3,NaN,"Developer, back-end;Student",NaN,NaN,Visit developer communities like Stack Overflo...,Turkey,NaN,NaN,NaN,C#;Python,Go;Python,MongoDB;PostgreSQL,MongoDB;PostgreSQL,AWS;DigitalOcean;Heroku,AWS,Django;FastAPI;Flask,Django;FastAPI;Flask,Pandas,NumPy;Pandas,Docker,Docker;Kubernetes,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,Linux-based,Linux-based,Git,Command-line,NaN,NaN,Jira Work Management,Jira Work Management,NaN,NaN,Unfavorable,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

### Applying a Function

In [473]:
filt = df["Country"] == "Turkey"
df_tr = df.loc[filt]
df_tr

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
100,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow;O...,NaN,11,7,"Developer, full-stack","10,000 or more employees",I have little or no influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,16000.0,Monthly,C;C++;HTML/CSS;Java;JavaScript;MATLAB;Python;SQL,C;C++;Clojure;JavaScript;Kotlin;Python;Scala,MySQL;PostgreSQL;SQLite,PostgreSQL;SQLite,Microsoft Azure,NaN,NaN,NaN,NumPy;Pandas;Scikit-learn;Spring,NumPy;Pandas;Scikit-learn,npm,npm,Android Studio;Atom;Eclipse;IntelliJ;IPython/J...,IPython/Jupyter,Linux-based,Linux-based,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Favorable,Collectives on Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,12024.0
150,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,14,NaN,NaN,NaN,NaN,Start a free trial;Visit developer communities...,Turkey,NaN,NaN,NaN,C#;HTML/CSS;SQL;TypeScript,C#;Rust,Microsoft SQL Server,CouchDB;MongoDB;PostgreSQL;Redis;SQLite,NaN,NaN,Angular;ASP.NET;ASP.NET Core,ASP.NET Core ;Blazor,.NET,.NET;Xamarin,npm,Docker,Visual Studio;Visual Studio Code,Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Slack,NaN,Very unfavorable,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,I have an anxiety disorder,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
237,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Bootstrapping a business;Freelance/contract work,"Associate degree (A.A., A.S., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Stack Overflow,NaN,10,8,"Developer, back-end",100 to 499 employees,I have some influence,Start a free trial;Research companies that hav...,Turkey,TRY\tTurkish lira,NaN,Monthly,C#;Dart;JavaScript,C#,PostgreSQL,PostgreSQL,Firebase,AWS;Microsoft Azure,Angular.js;ASP.NET Core,ASP.NET Core ;Vue.js,.NET;Flutter,.NET,NaN,NaN,NaN,NaN,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,NaN,NaN,Unsure,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",25-34 years old,Man,No,Bisexual,Prefer not to say,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
329,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Bootstrapping a business,"Associate degree (A.A., A.S., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Udemy,5,2,"Developer, mobile","10,000 or more employees",I have a great deal of influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,NaN,Monthly,C++;Java;JavaScript;SQL,Kotlin;SQL,PostgreSQL;Firebase Realtime Database;SQLite,PostgreSQL,DigitalOcean;Firebase;Heroku,Firebase;Microsoft Azure,ASP.NET Core ;Express;Node.js;React.js,NaN,Qt;React Native,NaN,Yarn,Flow;Homebrew,Android Studio;CLion;Eclipse;Qt Creator;Visual...,Android Studio,macOS;Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management,Jira Work Management,Cisco Webex Teams;Microsoft Teams;Zoom,Microsoft Teams;Slack;Zoom,Favorable,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, definitely",18-24 years old,Man,No,Straight / Heterosexual,Prefer not to say,Prefer not to say,Prefer not to say,Yes,Independent contributor,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60-120 minutes a day,15-30 minutes a day,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
385,I am a developer by profession,"Not employed, and not looking for work",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,12,NaN,NaN,NaN,NaN,Visit developer communities like Stack Overflow,Turkey,NaN,NaN,NaN,Python,Go;Python,MongoDB;MySQL;SQLite,NaN,Microsoft Azure,NaN,ASP.NET Core ;Blazor,NaN,NaN,NaN,NaN,NaN,PyCharm;Visual Studio,PyCharm,macOS;Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Trello,NaN,Slack;Zoom,Slack,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,I have never participated in Q&A on Stack Over...,Neutral,25-34 years old,Man,No,Straight / Heterosexual,European;Middle Eastern,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72553,I am a developer by profession,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...,Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Codecademy;Pluralsight;edX,25,25,"Developer, full-stack;Developer, mobile;DevOps...","Just me - I am a freelancer, sole proprietor, ...",I have a great deal of influence,Start a free trial;Visit developer communities...,Turkey,TRY\tTurkish lira,NaN,NaN,C#;Dart;HTML/CSS;JavaScript;Python;SQL,C#;Dart;F#;Go;HTML/CSS;JavaScript;Kotlin;Python,Microsoft SQL Server;MongoDB;MySQL;PostgreSQL;...,Cloud Firestore;Elasticsearch;MongoDB;Neo4j;Po...,DigitalOcean;Microsoft Azure,Firebase;Google Cloud,ASP.NET Core ;Blazor,ASP.NET Core ;Blazor;FastAPI,.NET;Flutter;Keras;NumPy;Pandas;Xamarin,.NET;Flutter;Keras;NumPy;Pandas;Scikit-learn;T...,NaN,NaN,Android Studio;Visual Studio;Visual Studio Code,Android Studio;Atom;GoLand;PyCharm;RAD Studio ...,Windows;Windows Subsystem for Linux (WSL),Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello,Confluence;Jira Work Management,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack;Zoom,Favorable,Stack Overflow,Daily or almost daily,Yes,Less than once per month or monthly,"No, not really",45-54 years old,Man,No,Straight / Heterosexual,European;Asian,None of the above,"I have a mood or emotional disorder (e.g., dep...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72597,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","School (i.e., University, College, etc)",NaN,NaN,13,9,"Developer, back-end",2 to 9 employees,I have little or no influence,Start a free trial;Visit developer communities...,Turkey,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;PHP;Python;TypeScript,NaN,MariaDB;MySQL;PostgreSQL;Redis,NaN,NaN,NaN,jQuery;Laravel;Vue.js,jQuery;Laravel;Vue.js,NaN,NaN,Docker;npm,Docker;npm,Notepad++;PhpStorm;PyCharm;Visual Studio Code,Notepad++;PhpStorm;PyCharm;Visual Studio Code,Windows;Windows Subsystem for Linux (WSL),Windows;Windows Subsystem for Linux (WSL),Git,Code editor;Command-line,NaN,NaN,ClickUp;Jira Work Management,ClickUp;Jira Work Management,Slack,Slack,Very unfavorable,Stack Overflow,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
72598,I am a developer by profession,"Student, full-time;Employed, part-time",Fully remote,Hobby;Contribute to open-source projects,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","School (i.e., University, College, etc);Online...",NaN,Coursera;Udemy;edX,3,NaN,"Developer, full-stack",NaN,NaN,Start a free trial;Read ratings or reviews on ...,Turkey,NaN,NaN,NaN,Bash/Shell;HTML/CSS;Java;JavaScript;PowerShell...,Bash/Shell;Elixir;Go;HTML/CSS;JavaScript;Power...,Microsoft SQL Server;MongoDB,MongoDB;Redis,Heroku;Microsoft Azure,AWS;Microsoft Azure,Express;Next.js;Node.js;React.js,Express;FastAPI;Next.js;Node.js;React.js,NaN,NaN,Docker;Kubernetes;npm;Yarn,Docker;Kubernetes;npm;Terraform;Yarn,Visual Studio Code,Visual Studio Code,Linux-based;Windows;Windows Subsystem for Linu...,Linux-based;Windows,Git,Command-line,NaN,NaN,NaN,NaN,Microsoft Teams;Slack;Zoom,Microsoft Teams;Slack,Unfavorable,Stack Overflow,A few times per week,Yes,I have never participated in Q&A on Stack Over...,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
72729,I am learning to code,"Not employed, but looking for work",NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Video-based Online Cou...,Udemy,4,NaN,"Developer, back-end;Student;Developer, game or...",NaN,NaN,Visit developer communities like Stack Overflo...,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,NaN,NaN,Indifferent,Stack Overflow,Less than once per month or monthly,No,NaN,"No, not really",18-24 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
72992,I am learning to code,"Not employed, but looking for work",NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,3,NaN,"Developer, back-end;Student",NaN,NaN,Visit developer communities like Stack Overflo...,Turkey,NaN,NaN,NaN,C#;Python,Go;Python,MongoDB;PostgreSQL,MongoDB;PostgreSQL,AWS;DigitalOcean;Heroku,AWS,Django;FastAPI;Flask,Django;FastAPI;Flask,Pandas,NumPy;Pandas,Docker,Docker;Kubernetes,Sublime Text;Visual Studio Code,Sublime Text;Visual Studio Code,Linux-based,Linux-based,Git,Command-line,NaN,NaN,Jira Work Management,Jira Work Management,NaN,NaN,Unfavorable,Stack Overflow,Daily or almost daily,Yes,A few times per month or weekly,"No, not really",25-34 years old,Man,No,Straight / Heterosexual,Middle Eastern,None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [476]:
country_group = df.groupby(["Country"])

In [477]:
country_group

In [478]:
country_group["WorkExp"].median()

Country
Afghanistan                              6.0
Albania                                  5.0
Algeria                                  2.5
Andorra                                 13.0
Angola                                   6.0
                                        ...
Venezuela, Bolivarian Republic of...     4.5
Viet Nam                                 4.0
Yemen                                    1.0
Zambia                                   2.0
Zimbabwe                                 5.0
Name: WorkExp, Length: 180, dtype: float64

In [479]:
median_country = country_group["WorkExp"].median()

In [480]:
median_country["Germany"]

8.0

### agg()

>If we want to apply more than one function

In [481]:
country_group["WorkExp"].agg(["median", "mean"])

                                      median       mean
Country
Afghanistan                              6.0   9.428571
Albania                                  5.0   6.166667
Algeria                                  2.5   4.357143
Andorra                                 13.0  15.800000
Angola                                   6.0  15.000000
...                                      ...        ...
Venezuela, Bolivarian Republic of...     4.5   7.177419
Viet Nam                                 4.0   5.751553
Yemen                                    1.0   3.571429
Zambia                                   2.0   6.285714
Zimbabwe                                 5.0   6.583333

[180 rows x 2 columns]

In [482]:
type(country_group["WorkExp"].agg(["median", "mean"]))

pandas.core.frame.DataFrame

In [483]:
country_group["WorkExp"].agg(["median", "mean"]).loc["Germany"]

median     8.000000
mean      10.240091
Name: Germany, dtype: float64

In [485]:
type(country_group["WorkExp"].agg(["median", "mean"]).loc["Germany"])

pandas.core.series.Series

## 10) Missing Value Handling

In [486]:
# "Missing", "NA" is a custom missing values

people = {
    'first': ['Adam', 'Jack', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Walker', 'Doe', 'Doe', 'Walker', np.nan, np.nan, 'Missing'], 
    'email': ['AdamWalker@gmail.com', 'JackDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}
df = pd.DataFrame(people)
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

### Dropping Missing Values

In [488]:

people = {
    'first': ['Adam', 'Jack', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Walker', 'Doe', 'Doe', 'Walker', np.nan, np.nan, 'Missing'], 
    'email': ['AdamWalker@gmail.com', 'JackDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [489]:
df.dropna(how="all")

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [490]:
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [491]:
df.dropna() # df.dropna(axis="index", how="any")

  first     last                 email      age
0  Adam   Walker  AdamWalker@gmail.com       33
1  Jack      Doe     JackDoe@email.com       55
2  John      Doe     JohnDoe@email.com       63
6    NA  Missing                    NA  Missing

In [492]:
df.dropna(how="all")

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [493]:
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [494]:
df.dropna(axis="columns", how="all")

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [495]:
df.dropna(axis="columns")

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

In [496]:
type(df.dropna(axis="columns"))

pandas.core.frame.DataFrame

### Specifically Checking Missing Value of Columns

In [497]:
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [498]:
# "Missing", "NA" is a custom missing values

people = {
    'first': ['Adam', 'Jack', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Walker', 'Doe', 'Doe', 'Walker', np.nan, np.nan, 'Missing'], 
    'email': ['AdamWalker@gmail.com', 'JackDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}
df = pd.DataFrame(people)
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [499]:
df.dropna(axis="index", how="any", subset=["age"])

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
6     NA  Missing                    NA  Missing

In [500]:
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [501]:
df.dropna(axis="index", how="any", subset=["age", "email"])

  first     last                 email      age
0  Adam   Walker  AdamWalker@gmail.com       33
1  Jack      Doe     JackDoe@email.com       55
2  John      Doe     JohnDoe@email.com       63
6    NA  Missing                    NA  Missing

In [502]:
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [503]:
df.dropna(axis="index", how="all", subset=["age", "email"])

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

### Handling Custom Missing Values

### First Way

In [505]:
# "Missing", "NA" is a custom missing values

people = {
    'first': ['Adam', 'Jack', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Walker', 'Doe', 'Doe', 'Walker', np.nan, np.nan, 'Missing'], 
    'email': ['AdamWalker@gmail.com', 'JackDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}
df = pd.DataFrame(people)
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [506]:
df.replace("NA", np.nan)

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6    NaN  Missing                   NaN  Missing

In [507]:
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [508]:
df.replace("NA", np.nan, inplace=True)
df.replace("Missing", np.nan, inplace=True)
df

   first    last                 email   age
0   Adam  Walker  AdamWalker@gmail.com    33
1   Jack     Doe     JackDoe@email.com    55
2   John     Doe     JohnDoe@email.com    63
3  Chris  Walker                  None    36
4    NaN     NaN                   NaN  None
5   None     NaN   Anonymous@email.com  None
6    NaN     NaN                   NaN   NaN

In [509]:
df.dropna()

  first    last                 email age
0  Adam  Walker  AdamWalker@gmail.com  33
1  Jack     Doe     JackDoe@email.com  55
2  John     Doe     JohnDoe@email.com  63

### Getting Boolean Mask

In [510]:
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3  False  False   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True   True   True

In [511]:
df

   first    last                 email   age
0   Adam  Walker  AdamWalker@gmail.com    33
1   Jack     Doe     JackDoe@email.com    55
2   John     Doe     JohnDoe@email.com    63
3  Chris  Walker                  None    36
4    NaN     NaN                   NaN  None
5   None     NaN   Anonymous@email.com  None
6    NaN     NaN                   NaN   NaN

In [512]:
df["first"]

0     Adam
1     Jack
2     John
3    Chris
4      NaN
5     None
6      NaN
Name: first, dtype: object

In [513]:
df["first"].isna()

0    False
1    False
2    False
3    False
4     True
5     True
6     True
Name: first, dtype: bool

In [514]:
type(df.isna())

pandas.core.frame.DataFrame

### Second Way

In [515]:
# When loading csv
na_values = ["NA", "Missing"]
df = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId", na_values=na_values)
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qid")

### fillna()

In [516]:
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [517]:
df.fillna("Missing")

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Canada,CAD\tCanadian dollar,Missing,Missing,JavaScript;TypeScript,Rust;TypeScript,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,macOS,Windows Subsystem for Linux (WSL),Git,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,Missing,Missing,Missing,Missing,Missing,Missing,Missing,No,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Too long,Difficult,Missing
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Missing,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,Missing,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Missing,Missing,Angular.js,Angular;Angular.js,Pandas,.NET,Missing,Missing,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,Missing,Missing,Missing,Missing,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",Missing,Missing,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,Missing,Missing,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,Missing,Missing,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,Missing,Missing,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,Missing,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,Missing,Missing,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,Missing,Missing,Missing,Missing,Microsoft Teams;Zoom,Missing,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,Missing,Missing,Missing,Missing,Missing,Missing,No,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Too long,Easy,Missing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,Missing,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,Missing,Missing,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,Missing
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,Missing,Missing,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,Missing,Missing,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,Missing,Missing,Missing,Missing,Rocketchat,Missing,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,Missing,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,Missing
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,Missing,Missing,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,Missing,Missing,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,Missing
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,Missing,Missing,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,Missing,Missing,Missing,Missing,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Appropriate in length,Easy,Missing
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",Missing,Missing,Start a free trial;Visit developer communities...,Canada,Missing,Missing,Missing,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,Missing,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,Missing,Missing,Confluence;Jira Work Management;Trello;Wrike,Missing,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Appropriate in length,Easy,Missing

In [518]:
# it does not treat Missing as NA anymore
(df.fillna("Missing")).isna()

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73265,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73266,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73267,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
73268,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

## 11) Casting Datatypes

In [519]:
people = {
    'first': ['Adam', 'Jack', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Walker', 'Doe', 'Doe', 'Walker', np.nan, np.nan, 'Missing'], 
    'email': ['AdamWalker@gmail.com', 'JackDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing']
}

df = pd.DataFrame(people)

In [520]:
people = {
    'first': ['Adam', 'Jack', 'John', 'Chris', np.nan, None, 'NA'], 
    'last': ['Walker', 'Doe', 'Doe', 'Walker', np.nan, np.nan, 'Missing'], 
    'email': ['AdamWalker@gmail.com', 'JackDoe@email.com', 'JohnDoe@email.com', None, np.nan, 'Anonymous@email.com', 'NA'],
    'age': [33, 55, 63, 36, None, None, 'Missing']
}

df = pd.DataFrame(people)

In [521]:
df

   first     last                 email      age
0   Adam   Walker  AdamWalker@gmail.com       33
1   Jack      Doe     JackDoe@email.com       55
2   John      Doe     JohnDoe@email.com       63
3  Chris   Walker                  None       36
4    NaN      NaN                   NaN     None
5   None      NaN   Anonymous@email.com     None
6     NA  Missing                    NA  Missing

In [522]:
df.replace("NA", np.nan, inplace=True)
df.replace("Missing", np.nan, inplace=True)
df["age"].mean()

46.75

In [523]:
type(df["age"].loc[0])

numpy.float64

In [524]:
df

   first    last                 email   age
0   Adam  Walker  AdamWalker@gmail.com  33.0
1   Jack     Doe     JackDoe@email.com  55.0
2   John     Doe     JohnDoe@email.com  63.0
3  Chris  Walker                  None  36.0
4    NaN     NaN                   NaN   NaN
5   None     NaN   Anonymous@email.com   NaN
6    NaN     NaN                   NaN   NaN

In [525]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [526]:
# age is a string so we cannot calculate its mean now
df

   first    last                 email   age
0   Adam  Walker  AdamWalker@gmail.com  33.0
1   Jack     Doe     JackDoe@email.com  55.0
2   John     Doe     JohnDoe@email.com  63.0
3  Chris  Walker                  None  36.0
4    NaN     NaN                   NaN   NaN
5   None     NaN   Anonymous@email.com   NaN
6    NaN     NaN                   NaN   NaN

In [527]:
type(df["age"].loc[0])

numpy.float64

In [528]:
type(df["age"].loc[6])

numpy.float64

In [529]:
type(np.nan)

float

In [530]:
df

   first    last                 email   age
0   Adam  Walker  AdamWalker@gmail.com  33.0
1   Jack     Doe     JackDoe@email.com  55.0
2   John     Doe     JohnDoe@email.com  63.0
3  Chris  Walker                  None  36.0
4    NaN     NaN                   NaN   NaN
5   None     NaN   Anonymous@email.com   NaN
6    NaN     NaN                   NaN   NaN

In [531]:
df["age"] = df["age"].astype(float)
df["age"]

0    33.0
1    55.0
2    63.0
3    36.0
4     NaN
5     NaN
6     NaN
Name: age, dtype: float64

In [532]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [533]:
df2 = df.dropna().copy()
df2["age"] = df2["age"].astype(int)
df["age"].mean()

46.75

### Looking at Unique Values

In [534]:
df = pd.read_csv("data/survey_results_public.csv", index_col="ResponseId", na_values=na_values)
schema_df = pd.read_csv("data/survey_results_schema.csv", index_col="qid")

In [536]:
df

,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,Country,Currency,CompTotal,CompFreq,LanguageHaveWorkedWith,LanguageWantToWorkWith,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,PlatformHaveWorkedWith,PlatformWantToWorkWith,WebframeHaveWorkedWith,WebframeWantToWorkWith,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,OpSysProfessional use,OpSysPersonal use,VersionControlSystem,VCInteraction,VCHostingPersonal use,VCHostingProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,Blockchain,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOComm,Age,Gender,Trans,Sexuality,Ethnicity,Accessibility,MentalHealth,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Canada,CAD\tCanadian dollar,NaN,NaN,JavaScript;TypeScript,Rust;TypeScript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,macOS,Windows Subsystem for Linux (WSL),Git,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,Daily or almost daily,Not sure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,5,Data scientist or machine learning specialist;...,20 to 99 employees,I have some influence,NaN,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,32000.0,Yearly,C#;C++;HTML/CSS;JavaScript;Python,C#;C++;HTML/CSS;JavaScript;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,Angular.js,Angular;Angular.js,Pandas,.NET,NaN,NaN,Notepad++;Visual Studio,Notepad++;Visual Studio,Windows,Windows,Git,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams,Microsoft Teams,Very unfavorable,Collectives on Stack Overflow;Stack Overflow;S...,Multiple times per day,Yes,Multiple times per day,Neutral,25-34 years old,Man,No,Bisexual,White,None of the above,"I have a mood or emotional disorder (e.g., dep...",No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,17,"Developer, full-stack",100 to 499 employees,I have some influence,Other (please specify):,Israel,ILS\tIsraeli new shekel,60000.0,Monthly,C#;JavaScript;SQL;TypeScript,C#;SQL;TypeScript,Microsoft SQL Server,Microsoft SQL Server,NaN,NaN,ASP.NET;ASP.NET Core,ASP.NET;ASP.NET Core,.NET,.NET,NaN,NaN,Notepad++;Visual Studio;Visual Studio Code,Notepad++;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Jira Work Management;Trello,Jira Work Management;Trello,Slack;Zoom,Slack;Zoom,Very unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Daily or almost daily,Yes,A few times per week,"Yes, definitely",35-44 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,3,"Developer, front-end;Developer, full-stack;Dev...",20 to 99 employees,I have some influence,Start a free trial;Visit developer communities...,United States of America,USD\tUnited States dollar,NaN,NaN,C#;HTML/CSS;JavaScript;SQL;Swift;TypeScript,C#;Elixir;F#;Go;JavaScript;Rust;TypeScript,Cloud Firestore;Elasticsearch;Microsoft SQL Se...,Cloud Firestore;Elasticsearch;Firebase Realtim...,Firebase;Microsoft Azure,Firebase;Microsoft Azure,Angular;ASP.NET;ASP.NET Core ;jQuery;Node.js,Angular;ASP.NET Core ;Blazor;Node.js,.NET,.NET;Apache Kafka,npm,Docker;Kubernetes,Notepad++;Visual Studio;Visual Studio Code;Xcode,Rider;Visual Studio;Visual Studio Code,Windows,macOS;Windows,Git;Other (please specify):,Code editor,NaN,NaN,NaN,NaN,Microsoft Teams;Zoom,NaN,Unfavorable,Collectives on Stack Overflow;Stack Overflow f...,Multiple times per day,Yes,Daily or almost daily,"Yes, definitely",25-34 years old,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,5,"Developer, back-end",100 to 499 employees,I have some influence,Visit developer communities like Stack Overflo...,Nigeria,USD\tUnited States dollar,60000.0,Yearly,Bash/Shell;Dart;JavaScript;PHP;Python;SQL;Type...,Bash/Shell;Go;JavaScript;Python;SQL;TypeScript,Elasticsearch;MySQL;PostgreSQL;Redis,MySQL;PostgreSQL;Redis,AWS;DigitalOcean;Google Cloud,AWS;DigitalOcean;Google Cloud,Express;FastAPI;Node.js,Express;FastAPI;Node.js,Flutter,NaN,Docker;Homebrew;Kubernetes;npm,Docker;Homebrew;Kubernetes;npm,IPython/Jupyter;Sublime Text;Vim;Visual Studio...,Sublime Text;Vim;Visual Studio Code,macOS,Linux-based;macOS,Git,Code editor;Command-line,NaN,NaN,Jira Work Management,Jira Work Management,Slack;Zoom,Slack;Zoom,Very favorable,Stack Overflow;Stack Exchange,Daily or almost daily,Yes,A few times per month or weekly,"Yes, definitely",25-34 years old,Man,No,Straight / Heterosexual,African,None of the above,None of the above,Yes,Independent contributor,5.0,Agree,Disagree,Strongly agree,Strongly agree,Strongly agree,Strongly agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,5,Data scientist or machine learning specialist,I don’t know,I have little or no influence,Other (please specify):;Ask developers I know/...,United States of America,USD\tUnited States dollar,107000.0,Yearly,Bash/Shell;HTML/CSS;JavaScript;Python;SQL,HTML/CSS;JavaScript;Python,Elasticsearch;MongoDB;Oracle;SQLite,Elasticsearch;Neo4j;SQLite,NaN,NaN,FastAPI;Flask;React.js,FastAPI;React.js,Keras;NumPy;Pandas;Scikit-learn;TensorFlow;Tor...,NumPy;Pandas;Torch/PyTorch;Hugging Face Transf...,NaN,NaN,IPython/Jupyter;Notepad++;Spyder;Vim;Visual St...,Notepad++;Spyder;Vim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line,NaN,NaN,NaN,NaN,Rocketchat,NaN,Unsure,Stack Overflow,Daily or almost daily,Not sure/can't remember,NaN,Neutral,25-34 years old,Man,No,Straight / Heterosexual,White,None of the above,None of the above,Yes,Independent contributor,6.0,Agree,Agree,Neither agree nor disagree,Disagree,Disagree,Agree,Agree,1-2 times a week,6-10 times a week,10+ times a week,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,33,"Developer, full-stack;Developer, desktop or en...",20 to 99 employees,I have a great deal of influence,Start a free trial;Ask developers I know/work ...,United States of America,USD\tUnited States dollar,NaN,NaN,HTML/CSS;JavaScript;PHP;Python;SQL,C#;HTML/CSS;JavaScript;PHP;Python;SQL,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,MariaDB;Microsoft SQL Server;MySQL;PostgreSQL;...,Managed Hosting;Microsoft Azure;VMware,Firebase;Linode;Managed Hosting;Microsoft Azur...,ASP.NET;React.js,ASP.NET;ASP.NET Core ;Blazor;Laravel;Next.js;R...,.NET;Pandas;React Native,.NET;Cordova;Ionic;Pandas;React Native;Xamarin,npm,npm;Unreal Engine,Spyder;Visual Studio;Visual Studio Code,Spyder;Visual Studio;Visual Studio Code,Windows,Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Microsoft Lists,Microsoft Lists,Microsoft Teams;Zoom,Microsoft Teams;Zoom,Very unfavorable,Stack Overflow;Stack Exchange,Multiple times per day,Yes,Less than once per month or monthly,"Yes, somewhat",55-64 years old,Man,No,Straight / Heterosexual,Multiracial,None of the above,None of the above,Yes,Independent contributor,42.0,Disagree,Neither agree nor disagree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Never,Never,Never,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,31,"Developer, front-end;Developer, desktop or ent...",10 to 19 employees,I have a great deal of influence,Start a free trial;Visit developer communities...,United Kingdom of Great Britain and Northern I...,GBP\tPound sterling,58500.0,Yearly,C#;Delphi;VBA,Delphi,Microsoft SQL Server;MongoDB;Oracle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"RAD Studio (Delphi, C++ Builder);Visual Studio","RAD Studio (Delphi, C++ Builder);Visual Studio",Windows,Windows,SVN,Dedicated version control GUI application,NaN,NaN,NaN,NaN,Zoom,Zoom,Indifferent,Stack Overflow,Daily or almost daily,Yes,I have never participated in Q&A on Stack Over...,"No, not at all",55-64 years old,Man,No,Straight / Heterosexual,European,None of the above,None of the above,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,5,"Developer, front-end;Engineer, data;Engineer, ...",NaN,NaN,Start a free trial;Visit developer communities...,Canada,NaN,NaN,NaN,C#;JavaScript;Lua;PowerShell;SQL;TypeScript,PowerShell;Rust;TypeScript,Microsoft SQL Server;Neo4j;Redis,Neo4j;Redis,Microsoft Azure,AWS;Google Cloud;Microsoft Azure;OpenStack,ASP.NET Core ;Blazor;Node.js;React.js;Svelte,ASP.NET Core ;Node.js;Svelte,Apache Kafka;Apache Spark,NaN,Docker;Kubernetes;npm;Pulumi;Terraform,Docker;Kubernetes;npm;Pulumi;Terraform,Visual Studio;Visual Studio Code,Neovim;Visual Studio Code,Linux-based;Windows,Linux-based;Windows,Git,Code editor;Command-line;Version control hosti...,NaN,NaN,Confluence;Jira Work Management;Trello;Wrike,NaN,Microsoft Teams;Slack;Zoom,Slack;Zoom,Favorable,Collectives on Stack Overflow;Stack Overflow;S...,Daily or almost daily,Yes,Less than once per month or monthly,"Yes, somewhat",25-34 years old,Man,No,Straight / Heterosexual,"Or, in your own words:",None of the above,None of the above,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [537]:
people = {

    'age': ['5', '5', '5', None]
}

df = pd.DataFrame(people)

In [538]:
df

    age
0     5
1     5
2     5
3  None

In [539]:
df["age"].astype(float).mean()

5.0

In [540]:
people = {

    'age': [5, 5, 5, np.nan]
}

df = pd.DataFrame(people)
df["age"].mean()

5.0